{% extends "layout.html" %}

{% block pageTitle %}
  Do you know your NHS number?
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="knowNhsNumber" method="post">

        {% call fieldset({
          legend: {
            text: "Do you know your NHS number?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
      
        <!-- <p>Your NHS number is a 10 digit number. For example, <span class=\"nhsuk-u-nowrap\">485 777 3456</span>.</p>
        <p>You can find it on any letter the NHS has sent you, on a prescription, or by logging in to a GP practice online service.</p> -->

       <p>If you're registered with a GP, you'll have a 10-digit NHS number unique to you. For example,
          <span class="nhsuk-u-nowrap\">485 777 3456</span>.</p>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>If you have an old medical card, it may have an old-style NHS number made up of letters and numbers. This has been replaced for all patients with a 10-digit NHS number made up entirely of numbers.</p>
        </div>
        

        {{ radios({
          "idPrefix": "know-nhs-number",
          "name": "know-nhs-number",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}



        {{ details({
          "text": "Where to find your NHS number",
          "HTML": "
          <p>You can find your NHS number:</p>

        <ul>
          <li>on any letter the NHS has sent you</li>
          <li>on a prescription</li>
          <li>by logging in to a GP practice online service</li>
          <li>by downloading and logging into the NHS App on your smartphone or tablet</li>
        </ul>
        <p>if you do not know your NHS number, you can find it using the <span class=\"nhsuk-u-nowrap\"><a href=\"https://www.nhs.uk/nhs-services/online-services/find-nhs-number/\" target=\"_blank\">Find your NHS number</a> </span>service (link opens in a new tab)</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>


 <!--  {{ radios({
          "idPrefix": "partners",
          "name": "partners",
          "items": [
            {
              "value": "Spouse",
              "text": "Yes, add spouse or civil partner"
            },
            {
              "value": "Durable",
              "text": "Yes, add unmarried (durable) partner"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }} -->
{% endblock %}
