{% extends 'layout.html' %}
{% block pageTitle %}
  Application submitted
{% endblock %}
{% block beforeContent %}
<!-- Phase banner -->
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Prototype
         </strong>
         <span class="app-phase-banner__text">
         This is a prototype - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-bottom-4">
         <h1 class="nhsuk-panel__title">
            Application completed
         </h1>
         <div class="nhsuk-panel__body">
            Your reference number
            <br>
            <strong>25002123</strong>
         </div>
      </div>

      <!-- S1 content from KM -->
      <p>Thank you for submitting your application for a European Health Insurance Card (EHIC).</p>
      <p>An email will be sent to the address you supplied to confirm that we have received your EHIC application.</p>
      <p>We will process your application and issue your EHIC before 31 December 2020. This will continue your entitlement to UK-covered healthcare when travelling to an EU country, Switzerland, Norway, Iceland, or Liechtenstein, other than the one where you live.</p>
      <p>Please refer to your confirmation email for further information about your pre-registration and when to expect your new EHIC.</p>
      <p>For information on how we use your data, please refer to our <a href="">privacy notice</a>.</p>
      
      <!-- <p>A confirmation email has been sent to <strong>karen.francis@example.com</strong></p> -->
      <!-- <h2>What happens next</h2> -->
      
      <!-- <p>If you've got a question about your application, <a href="contact">contact us</a>.</p> -->

      <!-- <h2>If you need an EHIC before 1 January 2021</h2> -->
     <!--  <h2>Travelling before 1 January 2021</h2>
      <p>If you’re travelling to the EU, EEA or Switzerland and you need an EHIC to cover you up to 1 January 2021, you can apply for one using the <a href="https://www.ehic.org.uk/Internet/startApplication.do">current EHIC website</a>.</p> -->

   </div>
</div>
{% endblock %}