{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for visiting the EU (EHIC)
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for visiting the EU (EHIC)</h1>

      <h2>Use this service to pre-register for an EHIC (European Health Insurance Card) for use from 1 January 2021</h2>

      <p class="nhsuk-lede-text">
        An EHIC gives you the right to access state-provided healthcare on temporary stays in countries in the European Union (EU), European Economic Area (EEA) and Switzerland.
      </p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Countries in the EU and EEA 
            <!-- (opens a new window) -->
          </span>
        </summary>

        <div class="nhsuk-details__text">
          <h5>EU countries</h5>
          <p>The EU countries are:</p>
          <p>
            Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain and Sweden.
          </p>
          <br>
          <h5>The European Economic Area (EEA)</h5>
          <p>
            The EEA includes EU countries and also Iceland, Liechtenstein and Norway. It allows them to be part of the EU’s single market.
          </p>
          <p>
            Switzerland is not an EU or EEA member but is part of the single market. This means Swiss nationals have the same rights to live and work in the UK as other EEA nationals.
          </p>
        </div>
      </details>

      <!-- <br>

      <h5>You can get an EHIC if:</h5>

      <ul>
        <li>you are a UK citizen</li>
        <li>you are an EU, EEA or Swiss citizen with either settled or pre-settled status in the UK or you have indefinite leave to remain in the UK</li>
        <li>you are a British-Irish dual national</li>
        <li>you are a retired UK citizen and are living in the EU, EEA or Switzerland</li>
        <li>you are a UK citizen studying in the EU, EEA or Switzerland</li>
      </ul> -->

      <!-- {{ insetText({
        "HTML": "<p>This service is currently only available to retired UK citizens living in the EU. If you’re still eligible for an EHIC, you can apply for one using the <a href=\"https://www.ehic.org.uk/Internet/startApplication.do/\" title=\"External website\">current EHIC website</a>.</p>"
      }) }} -->

      <!-- {{ insetText({
        "HTML": "<p>This service is currently only available to UK citizens who:</p>
          <ul>
            <li>receive payments from a UK state pension</li>
            <li>live in the EU, EEA or Switzerland</li>
            <li>have an active S1 certificate</li>
          </ul>"
      }) }} -->

      {{ insetText({
        "HTML": "<p>You can use this service if:</p>
          <ul>
            <li>you are a UK citizen</li>
            <li>you are an EU, EEA or Swiss citizen with either settled or pre-settled status in the UK or you have indefinite leave to remain in the UK</li>
            <li>you are a retired UK citizen and are living in the EU, EEA or Switzerland</li>
          </ul>"
      }) }}

      <p>The application takes less than 5 minutes.</p>
      <!-- <a href="where-do-you-live" class="nhsuk-button nhsuk-u-margin-bottom-8"> -->
      <a href="ehic-before-jan" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
