{% extends 'layout.html' %}

{% block pageTitle %}
  Applying for a Student EHIC
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Applying for an EHIC
      </h1>

      <!-- <p class="nhsuk-lede-text">
        You are eligible for a UK-issued EHIC
      </p> -->

      <p>
        You are eligible for a UK-issued EHIC as you've told us that you:
      </p>
      <ul class="list list-bullet">
        <li>are a UK national</li>
        <li>were resident in the UK before 1 January 2021</li>
        <li>are not studying or do not plan to study in the EU, Iceland, Liechtenstein, Norway or Switzerland.</li>
      </ul>

      <h2>Next steps</h2>
      <ul>
        <li>Complete the online application</li>
        <li>We will confirm your UK residency using the information you provide</li>        
      </ul>

      <!-- {{ insetText({
        "HTML": "<p>Your Student EHIC will only be valid for the duration of your period of study in the EU, Iceland, Liechtenstein, Norway or Switzerland.</p>"
      }) }} -->
      
      <a href="course-country" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>

    </div>  

  </div>
{% endblock %}
