{% extends "layout.html" %}

{% block pageTitle %}
  How is your gender recorded on your NHS record?
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="email-address" method="post">

        {% call fieldset({
          legend: {
            text: "How is your gender recorded on your NHS record?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
      
      <p>
        This is the gender on your NHS record. This may not be the gender you currently identify yourself as.
      </p>

        {{ radios({
          "idPrefix": "add-another",
          "name": "add-another",
          "items": [
            {
              "value": "Female",
              "text": "Female"
            },
            {
              "value": "Male",
              "text": "Male"
            },
            {
              "value": "Prefer not to say",
              "text": "Prefer not to say"
            }
          ]
        }) }}

        {% endcall %}

        {{ details({
          "text": "Why do we ask this question?",
          "HTML": "
          <p>We ask for this information, along with your NHS number and your date of birth, as a check to confirm your identity and eligibility for an EHIC. Giving us this information helps speed up your application. If you choose not to give this information, your application may need to go through a different verification process.</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
