{% extends "layout.html" %}

{% block pageTitle %}
  Who are you applying for?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      
      <form action="whoFor" method="post">

        {% call fieldset({
          legend: {
            text: "Who are you applying for?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ radios({
          "idPrefix": "who-for",
          "name": "who-for",
          "items": [
            {
              "value": "Myself and members of my family",
              "text": "Myself and members of my family"
            },
            {
              "value": "Just myself",
              "text": "Just myself"
            }
          ]
        }) }}

        {% endcall %}

              <p><a href="#">I need to apply on behalf of someone else</a></p>


        {{ button({
          "text": "Continue"
        }) }}

      </form>


     <!--  {{ backLink({
        "href": "/docs/how-tos",
        "text": "Back to How to guides"
      }) }} -->

    </div>
  </div>
{% endblock %}
