{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for visiting the EU (EHIC)
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for visiting the EU (EHIC)</h1>

      <p>Use this service to:</p>

      <ul>
        <li>find out if you’re eligible</li>
        <li>apply for UK healthcare cover</li>
        <li>get proof you’re covered by the UK</li>
      </ul>


{{ insetText({
  "HTML": "<p>You need to be a UK citizen or a EU citizen with UK settled or pre-settled status to use this service.</p>"
}) }}

<!--       <p>You need to be a UK citizen or a EU citizen with UK settled status to use this service.</p>
 -->
      <a href="who-for" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
