{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to add any children to your application?
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="addChild" method="post">

        {% call fieldset({
          legend: {
            text: "Do you want to add any children to your application?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
      
      <p>
        You can add children to your EHIC application if they live with you. They will receive their own EHIC.
      </p>

        {{ radios({
          "idPrefix": "add-another",
          "name": "add-another",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ backLink({
        "href": "nino",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
