{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="../add-another-grandchild" method="post">

        <h1>Check your answers</h1>

        <h2>Your grandchild's details</h2>

        {{ summaryList({
          rows: [


            {
              key: {
                text: "Full name"
              },
              value: {
                text: "Freddie Francis"
              },
              actions: {
                items: [
                  {
                    href: "full-name",
                    text: "Change",
                    visuallyHiddenText: "full name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "21 January 2009"
              },
              actions: {
                items: [
                  {
                    href: "dob",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Is Freddie dependant on you?"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "over-21",
                    text: "Change",
                    visuallyHiddenText: ""
                  }
                ]
              }
            },
            {
              key: {
                text: "Home address"
              },
              value: {
                html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
              },
              actions: {
                items: [
                  {
                    href: "address-lookup",
                    text: "Change",
                    visuallyHiddenText: "home address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                html: "EEA or Swiss"
              },
              actions: {
                items: [
                  {
                    href: "nationality",
                    text: "Change",
                    visuallyHiddenText: "nationality"
                  }
                ]
              }
            }
            
            
          ]
        }) }}

        <!-- <h2>Now send your application</h2>
        <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p> -->

        {{ button({
          "text": "Continue"
        }) }}


      </form>

     <!-- {{ backLink({
        "href": "add-another-yn",
        "text": "Change my previous answer"
      }) }} -->

    </div>
  </div>
{% endblock %}
