{% extends 'layout.html' %}

{% block pageTitle %}
  You cannot use this new service to pre-register for an EHIC
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        You cannot use this new service to pre-register for an EHIC
      </h1>

      <p class="nhsuk-lede-text">
        Currently this new service is only available to UK citizens who are working or intend to study in the EU, EEA or Switzerland and want to pre-register for an EHIC.
      </p>

      <h3>Apply for an EHIC using the current website</h3>
      <p>If you’re still eligible, you can <a href="https://www.nhs.uk/using-the-nhs/healthcare-abroad/apply-for-a-free-ehic-european-health-insurance-card">apply for an EHIC using the current EHIC website</a>.</p>

      <!-- <h5>You can get an EHIC if:</h5> -->

      {{ details({
        "text": "Check to see if you're eligible",
        "HTML": "
          <p>You can get an EHIC if:</p>
          <ul>
            <li>you are a UK citizen</li>
            <li>you are an EU, EEA or Swiss citizen with either settled or pre-settled status in the UK or you have indefinite leave to remain in the UK</li>
            <li>you are a British-Irish dual national</li>
            <li>you are a retired UK citizen and are living in the EU, EEA or Switzerland</li>
            <li>you are a UK citizen studying in the EU, EEA or Switzerland</li>
          </ul>
          "
      }) }}

    </div>  

  </div>
{% endblock %}
