{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for travelling abroad
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for travelling abroad</h1>

      <p class="nhsuk-lede-text">Apply now for a new UK European Health Insurance Card (EHIC).</p>
      <!-- <p class="nhsuk-lede-text">You’ll be able to use your new card as soon as you get it, for travel before the end of 2020 and from 1 January 2021.</p> -->

      <h3>EHIC from 1 January 2021</h3>

      <p>Under the UK’s EU Withdrawal Agreement, certain people are eligible for a new UK EHIC. These are:</p>

      <!-- <p>You can apply now for a new UK EHIC if you have a registered S1, E121, E106 or E109 form because you either:</p> -->
      <ul>
        <li>people living in the EU, Switzerland, Norway, Iceland, or Liechtenstein with a registered S1, E121, E106 or E109 form</li>
        <li>UK national students studying in the EU, Switzerland, Norway, Iceland, or Liechtenstein</li>

        <li>EU nationals ordinarily resident in the UK</li>
      </ul>





<div class="nhsuk-expander-group">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        People living in the EU, Switzerland, Norway, Iceland, or Liechtenstein with a registered S1, E121, E106 or E109 form
      </span>
    </summary>

    <div class="nhsuk-details__text">
      <h5 class="nhsuk-heading-xs">What is an S1, E121, E106 and E109 form?</h5>
      <p>An S1 form (previously known as an E121, E106 and E109) is a healthcare certificate that entitles the holder and any dependants to healthcare in another EU country, as well as Switzerland, Norway, Iceland and Liechtenstein, on the same basis as a resident of that country.</p>

      <p>You can apply now for a new UK EHIC if you have a registered S1, E121, E106 or E109 form and you are either:</p>

      <ul>
        <li>receiving a qualifying pension or benefit</li>
        <li>a family member (a dependant) of someone with a qualifying pension or benefit</li>
        <li>a frontier worker (someone who works in one state and lives in another) who started working in the host state on or before 31 December 2020 (this will be for as long as you continue to be a frontier worker in the host state)</li>
        <li>a family member of a frontier worker</li>
      </ul>

      <p>An EHIC is for healthcare when you travel. You only need to apply for a new card if you have an S1, E121, E106 or E109 and are planning to visit another EU country, Switzerland, Norway, Iceland, or Liechtenstein.</p>
    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        UK national students studying in the EU, Switzerland, Norway, Iceland, or Liechtenstein
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>If you are a UK national, you can also apply if you are studying in the EU, Switzerland, Norway, Iceland, or Liechtenstein, providing:</p>
      <ul>
        <li>you ordinarily reside in the UK</li>
        <li>your study began on or before 31 December 2020</li>
        <li>your study will continue in that country after that date</li>
      </ul>
      <p>This also applies to nationals of other countries outside the EU, Switzerland, Norway, Iceland, or Liechtenstein who have paid, or are exempt from paying, the Immigration Health Surcharge.</p>

    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        EU nationals ordinarily resident in the UK
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>If you are an EU national ordinarily resident in the UK on or before 31 December 2020, you may be eligible to apply for an EHIC that is valid from 1 January 2021. </p>
      <p>Your current EHIC will remain valid until 31 December 2020.</p>

    </div>
  </details>

</div>



      <h3>What EHIC covers</h3>

      <p>Unless you are a student, the new UK EHIC will cover you for all medically necessary, state-provided healthcare when visiting another EU country, Norway, Iceland, Liechtenstein, or Switzerland.</p>
      <p>This does not include the country you live in or the UK. </p>

      <!-- <h4 class="nhsuk-heading-xs">EHIC cover for UK students</h4>
      <p>If you are a UK student studying in the EU, Norway, Iceland, Liechtenstein or Switzerland, on or before 31 December 2020, you can use your EHIC to get medically necessary, state-provided healthcare within the country you are studying.</p>
      <p>You must let us know what country you will be studying in on 31 December 2020. You will only be able to use your EHIC in that country. The country will be identified on the card.</p>
      <p>You cannot use your EHIC to access healthcare in any other country after 31 December 2020, even if you move there to study.</p> -->

      <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        EHIC cover for UK students
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>If you are a UK student studying in the EU, Norway, Iceland, Liechtenstein or Switzerland, on or before 31 December 2020, you can use your EHIC to get medically necessary, state-provided healthcare within the country you are studying.</p>
      <p>You must let us know what country you will be studying in on 31 December 2020. You will only be able to use your EHIC in that country. The country will be identified on the card.</p>
      <p>You cannot use your EHIC to access healthcare in any other country after 31 December 2020, even if you move there to study.</p>
    </div>
  </details>

  <br>



      <!-- <h3>UK students using a UK EHIC</h3>

      <p>If you are a UK student studying in the EU, Norway, Iceland, Liechtenstein or Switzerland before 31 December 2020, you can use your EHIC to get medically necessary, state-provided healthcare within the country you are studying.</p>
      <p>You must select the country you will be studying in on 31 December 2020.</p>
      <p>You will only be able to use your EHIC in that country. This will be identified on the card. You cannot use your EHIC to access healthcare in any other country after 31 December 2020, even if you move to study in another country.</p> -->


      <h3>The application process</h3>

      <p>When you apply, you will need to answer a series of questions about yourself and register your details. If you enter information which means you are not entitled to an EHIC, we will let you know straight away and you can stop your application.</p>
      <p>If we need further evidence to support your application, such as proof of address, we will email you with advice on what to do next.</p>
      <p>Once we receive your application, and any evidence we ask for, we will process it and let you know within 5 working days if it is successful or not.</p>
      <p>f you apply now, and you are entitled, you will receive your new UK EHIC before 31 December 2020. You can use your new card immediately.</p>


      {{ insetText({
        "HTML": "<p>Your current EHIC will remain valid up to 31 December 2020.</p>"
      }) }}



      {{ warningCallout({
        "heading": "Travel insurance and your EHIC",
        "HTML": "<p>Your EHIC is not a substitute for travel insurance. It may not cover all health costs and never covers repatriation costs.</p><p>Make sure you have travel insurance as well as an EHIC.</p>"
      }) }}
      

      <h3>How we use your information</h3>
      <p>To process your application, we may share your information (where appropriate) with:</p>

      <ul>
        <li>Indesser and LexisNexis, third party data providers acting on our behalf who will make a UK residency check</li>
        <li>NHS Digital to validate EU Settlement Scheme status</li>
      </ul>

      <p>For more information about how we use your information please read our <a href="">privacy notice</a>.</p>


      <a href="where-do-you-live" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
