{% extends "layout.html" %}

{% block pageTitle %}
  Has anything changed since you last applied?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <form action="changeCircs" method="post">

        {% call fieldset({
          legend: {
            text: "Has anything changed since you last applied?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>
           You’ll need to re-check your eligibility and apply for a new card if the information you gave us has changed. For example, if you’ve either:
        </p>

   

          <ul>
            <li>changed your name</li>
            <li>moved to a new address</li>
          </ul>
          
        

        <!-- <h3>Has anything changed since you last applied?</h3> -->

        {{ radios({
          "idPrefix": "change-circs",
          "name": "change-circs",
          "items": [
            {
              "value": "new",
              "text": "Yes"
            },
            {
              "value": "replacement",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}


        <!-- {{ details({
          "text": "How to find your NHS number",
          "HTML": "
          
          "
        }) }} -->


        

        {{ button({
          "text": "Continue"
        }) }}




      </form>




     {{ backLink({
        "href": "new-application",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>
{% endblock %}



         <!--  "hint":  {
                "text": "this is a hint"
              } -->
