{% extends "layout.html" %}

{% block pageTitle %}
  Which service would you would like to use?
{% endblock %}

{% block beforeContent %}

<style>
  #dropdown {
    display: none;
  }
</style>

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <form action="newApplication" method="post">

        {% call fieldset({
          legend: {
            text: "Which service would you would like to use?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>If your card has expired you will need to apply again for healthcare cover abroad.</p>

        {% set replaceCard %}
          {{ input({
            id: "dropdown",
            name: "dropdown",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              text: "If you have an existing European Health Insurance Card (EHIC) or applied for a UK Global Health Insurance Card (GHIC) prior to 29 June 2021 and need a replacement, you will need to apply again."
            }
          }) }}
        {% endset -%}

        {{ radios({
          "idPrefix": "new-application",
          "name": "new-application",
          "items": [
            {
              "value": "new",
              "text": "Apply for healthcare cover abroad"
            },
            {
              "value": "replacement",
              "text": "Replace a lost, stolen, or damaged card",
              "conditional": {
                "html": replaceCard
              }
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     <!-- {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }} -->
      
    </div>
  </div>
{% endblock %}



         <!--  "hint":  {
                "text": "this is a hint"
              } -->
