{% extends "layout.html" %}
{% block pageTitle %}

  What is their OHS reference number?

{% endblock %}
{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <form action="add-another-yn" method="post"> -->
       <form action="full-name" method="post">


        {% call fieldset({
          legend: {
            text: "What is their OHS reference number?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>You can find their OHS reference number on the email we’ve sent you with the link to this service.</p>

        {{ input({
          "label": {
            "text": ""
          },
         
          "id": "input-width-10",
          "name": "ohs-number",
          "classes": "nhsuk-input--width-10"
        }) }}


        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
