{% extends "layout.html" %}

{% block pageTitle %}
  Do you currently have a valid European Health Insurance Card (EHIC)?
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="currentEhic" method="post">

        {% call fieldset({
          legend: {
            text: "Do you currently have a valid European Health Insurance Card (EHIC)?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>If you have a valid EHIC, you can continue to use it until it expires. You can apply for a new 
card up to 6 months before its expiry date.</p>

        {% set lostHtml %}
          {{ hint({
            "text": "You can apply for a new Global Health Insurance Card (GHIC) or European Health Insurance Card (EHIC)"
          }) }}
        {% endset -%}

        {{ radios({
          "idPrefix": "current-ehic",
          "name": "current-ehic",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            },
            {
              "value": "lost",
              "text": "My EHIC is lost, stolen or damaged",
              "conditional": {
                "html": lostHtml
              }
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "who-for",
        "text": "Change my previous answer"
      }) }}

    </div>

              
      </div>
  </div>
{% endblock %}
