{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for travelling abroad
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for traveling within the EU</h1>

      <!-- <p class="nhsuk-lede-text">Apply now for a new UK European Health Insurance Card (EHIC).</p> -->
        
        <p>Use this service to check eligibility and apply for UK provided health insurance.
            
            <p>If eligible you will receive either:</p>
            
            <ul>
        <li>a European Health Insurance Card (EHIC)</li>
                <li>a UK Global Health Insurance Card (GHIC)</li>
        </ul>
      
      <p>They’re both valid if you’re travelling to an EU country.</p>
          
          <p>They will let you get medically necessary state healthcare in Europe at a reduced cost or sometimes for free.</p>
        
        <p>If your current EHIC is still in date, you do not need to apply.</p>
        
          
        
        <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <h3>After you apply</h3>
            <p>Arrange travel insurance, <a href="travel-insurance">it covers you for different things</a>.</p>
</div>
        
       
    
    
        
         <a href="where-do-you-live" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Check eligibility and apply
      </a>
        
        <h3>Explore the topic</h3>
        
        <ul>
      <li><a href="terms">Who can apply</a></li> 
      <li><a href="terms">Whats the difference between GHIC and EHIC?</a></li> 
       <li><a href="terms">How we use your information</a></li> 
    </ul>
        

     

     
    </div>

  </div>
{% endblock %}
