{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for travelling abroad
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for travelling abroad</h1>

      <!-- <p class="nhsuk-lede-text">Apply now for a new UK European Health Insurance Card (EHIC).</p> -->
        
        <p>Use this service to check eligibility and apply for either a:
                        
            <details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
UK Global Health Insurance Card (GHIC)</span>
  </summary>
  <div class="nhsuk-details__text">
      <p>If you're ordinarily resident in the UK and not insured by an EU country, Norway, Iceland, Liechtenstein or Switzerland, you may be entitled to a UK GHIC. </p>
    <p>A UK GHIC covers:</p>
    <ul>
      <li>state provided healthcare cover for treatment that becomes necessary whilst temporarily staying in an EU country </li>
      <li>you if you are a student studying outside of the UK, a UK GHIC will cover you for both your country of study if this is in the EU, as well as any other EU country. You will not be able to use your card for treatment in Norway, Iceland, Liechtenstein and Switzerland</li>
    </ul>
  </div>
</details>
        
         <details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
UK European Health Insurance Card (EHIC)</span>
  </summary>
  <div class="nhsuk-details__text">
      <p>Under the UK’s EU Withdrawal Agreement, certain people are eligible for a new UK EHIC. </p>
    <p>A UK EHIC covers:</p>
    <ul>
      <li>state provided healthcare cover for treatment that becomes necessary whilst temporarily staying in an EU country, Norway, Iceland, Liechtenstein, and Switzerland</li>
      <li>you if you are a student studying outside of the UK, a UK EHIC will only cover you for state provided healthcare cover within the EU and your country of study. You will not be able to use your card for treatment in Norway, Iceland, Liechtenstein and Switzerland except where you are studying in one of these countries </li>
    </ul>
  </div>
</details>
            
            <p>If you’re normally resident in the UK you may be able to get cover. This will give you access to state provided healthcare while staying in an EU country for things like: </p>
        
        <ul>
        <li>emergency treatment </li>
              <li>visits to A&E</li>
              <li>routine maternity care, as long as you're not <a href="">going abroad to give birth</a></li>
        </ul>
                    
 <h3>If you have an European Health Insurance Card (EHIC)</h3>
        
      <p>Your EHIC will be valid until the expiry date on the card. Once it expires, you’ll need to apply for a new card. Depending on your circumstances this will either be a UK EHIC or a UK GHIC. </p>
       
       <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>Applying takes around 5 minutes.</p>
</div>   
        
         <a href="where-do-you-live" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Apply
      </a>
        
         <details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
Arrange travel insurance</span>
  </summary>
  <div class="nhsuk-details__text">

      <p>Your UK EHIC or UK GHIC card is not a substitute for travel insurance. It may not cover all health costs and never covers repatriation costs. Make sure you have travel insurance as well as an UK EHIC or UK GHIC.</p>

  </div>
</details>
        <br>
        
        <h3> </h3>
            <p></p>
                
    </div>
      
      <div class="nhsuk-grid-column-one-third">
          
          <div style="border-top:5px solid #005eb8; padding-top:15px;"></div>
          
          <h3 >Related  content</h3>
          
          <ul>
          <li><a href="">Who is eligible</a></li>
        <li><a href="">EHIC and GHIC differences</a></li>
          </ul>
              
      </div>

  </div>
{% endblock %}
