{% extends "layout.html" %}

{% block pageTitle %}
  Does your partner live with you?
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="childCountry" method="post">
        <span class="nhsuk-caption-l nhsuk-caption--bottom">Child 1</span>


        {% call fieldset({
          legend: {
            text: "Does Millie live in an EU country?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
      
      <!-- <p>You and your partner must live in the same household.</p> -->

        {{ radios({
          "idPrefix": "add-another",
          "name": "add-another",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
