{% extends "layout.html" %}

{% block pageTitle %}
  Do you plan to permanently move to another country in the next 5 years?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="emigrate" method="post">

        {% call fieldset({
          legend: {
            text: "Do you plan to permanently move to another country in the next 5 years?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>We ask this question so we can assess the length of card we should send you. </p>

        {{ radios({
          "idPrefix": "emigrate",
          "name": "emigrate",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "where-do-you-live",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>
{% endblock %}
