{% extends "layout.html" %}

{% block pageTitle %}
  We need more information about {{ data['upload-firstname'] }}’s dual nationality
{% endblock %}

{% block beforeContent %}

<style>
  .autocomplete__wrapper {
    background-color: white;
    width: 66.66%; 
  }
</style>

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="cya" method="post">

        {% call fieldset({
          legend: {
            text: "",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

      <form>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                We need more information about {{ data['upload-firstname'] }}'s dual nationality
              </h1>
            </legend>
            <!-- <div class="nhsuk-hint" id="example-hint"> -->
              <p>Select all options that are relevant to {{ data['upload-firstname'] }}.</p>
            <!-- </div> -->
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                  They have acquired British citizenship through naturalization
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                  They were a citizen of an EU country, Switzerland, Norway, Iceland, or Liechtenstein prior to also becoming a British citizen
                </label>
              </div>

              <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="contact" type="checkbox" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                    They have retained the nationality of one of these countries
                    <!-- , if so which one -->
                  </label>
                </div>

                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="country">
                      Country
                    </label>
                    <!-- <input class="nhsuk-input nhsuk-u-width-two-thirds" id="country" name="country" type="text"> -->
                    <select id="location-picker">
                      <option value=""></option>
                      <option value="at">Austria</option>
                      <option value="be">Belgium</option>
                      <option value="bg">Bulgaria</option>
                      <option value="hr">Croatia</option>
                      <option value="cy">Cyprus</option>
                      <option value="cz">Czechia</option>
                      <option value="dk">Denmark</option>
                      <option value="ee">Estonia</option>
                      <option value="fi">Finland</option>
                      <option value="fr">France</option>
                      <option value="de">Germany</option>
                      <option value="gr">Greece</option>
                      <option value="hu">Hungary</option>
                      <option value="is">Iceland</option>
                      <option value="ie">Ireland</option>
                      <option value="it">Italy</option>
                      <option value="lv">Latvia</option>
                      <option value="li">Liechtenstein</option>
                      <option value="lt">Lithuania</option>
                      <option value="lu">Luxemburg</option>
                      <option value="mt">Malta</option>
                      <option value="nl">Netherlands</option>
                      <option value="no">Norway</option>
                      <option value="pl">Poland</option>
                      <option value="pt">Portugal</option>
                      <option value="ro">Romania</option>
                      <option value="sk">Slovakia</option>
                      <option value="si">Slovenia</option>
                      <option value="es">Spain</option>
                      <option value="se">Sweden</option>
                      <option value="">Switzerland</option>
                    </select>
                  </div>



                  <!-- <label for="my-autocomplete">Country</label>
                    <div id="my-autocomplete-container"> -->

                    </div>

                </div>
              </div>
            </fieldset>
          </div>
        </form>

        <br>

        <h3>Additional information (optional)</h3>

        {{ textarea({
          "name": "dual-nat-info",
          "id": "example",
          "label": {
            "text": ""
          },
          "hint": {
            "text": ""
          }
        }) }}

        <!-- Explain any missing documents or  -->

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "upload-res-uk-another",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
