{% extends "layout.html" %}

{% block pageTitle %}
  What type of evidence are you providing?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <form action="evidenceType" method="post">

        {% call fieldset({
          legend: {
            text: "What type of evidence are you providing?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ radios({
          "idPrefix": "evidence-type",
          "name": "evidence-type",
          "items": [
            {
              "value": "sharecode",
              "text": "EU settled status share code",
              "hint": {
                "text": "You can get your EU settled status share code from the gov.uk website if your right to reside in the UK is based on you having EU settled status"
              }
            },
            {
              "value": "document",
              "text": "Document",
              "hint": {
                "text": "The documents we can consider are listed in the email we have sent you"
              }
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "provide-rtr-evid",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>
{% endblock %}