{% extends "layout.html" %}
{% block pageTitle %}

   Check your details are correct

{% endblock %}
{% block beforeContent %}
<!-- Phase banner -->
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Prototype
         </strong>
         <span class="app-phase-banner__text">
         This is a prototype - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-three-quarters">
      <form action="app-complete" method="post">
         <h1 class="nhsuk-heading-l">
            Check your details are correct
         </h1>
         <h2 class="nhsuk-heading-m">
            Your details
         </h2>

         <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  OHS reference number
               </dt>
               <dd class="nhsuk-summary-list__value">
                  00123456
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <!-- <a class="nhsuk-link" href="">
                  Change <span class="nhsuk-u-visually-hidden"></span>
                  </a> -->
               </dd>
            </div>
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  Name
               </dt>
               <dd class="nhsuk-summary-list__value">
                  {{ data['upload-firstname'] }} {{ data['upload-lastname'] }}
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <!-- <a class="nhsuk-link" href="">
                  Change <span class="nhsuk-u-visually-hidden"></span>
                  </a> -->
               </dd>
            </div>

            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  Date of birth
               </dt>
               <dd class="nhsuk-summary-list__value">
                  {{ data['replace-dob-day'] }} / {{ data['replace-dob-month'] }} / {{ data['replace-dob-year'] }}
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <!-- <a class="nhsuk-link" href="">
                  Change <span class="nhsuk-u-visually-hidden"></span>
                  </a> -->
               </dd>
            </div>
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  Address
               </dt>
               <dd class="nhsuk-summary-list__value">
                  72 Roman Rd<br>
                  Leeds <br>
                  LS2 5ZN<br>
                  UK
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <!-- <a class="nhsuk-link" href="">
                  Change <span class="nhsuk-u-visually-hidden"></span>
                  </a> -->
               </dd>
            </div>
         </dl>

         <!-- <h2 class="nhsuk-heading-m">
            Your evidence
         </h2> -->

         <h2 class="nhsuk-heading-m">
            Evidence of your study period abroad
         </h2>

         <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  <!-- Evidence of your  -->
                  <!-- Right to reside in the UK -->
                  {{ data['file-type-1'] }}
               </dt>
               <dd class="nhsuk-summary-list__value">
                  example_file_name_05.jpg, 2MB
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="upload-student-another2">
                  Change <span class="nhsuk-u-visually-hidden"></span>
                  </a>
               </dd>
            </div>

            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  <!-- Evidence of your  -->
                  <!-- Right to reside in the UK -->
                  {{ data['file-type-6'] }}
               </dt>
               <dd class="nhsuk-summary-list__value">
                  example_file_name_02.jpg, 2MB
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="upload-student-another2">
                  Change <span class="nhsuk-u-visually-hidden"></span>
                  </a>
               </dd>
            </div>

         </dl>

         <h2 class="nhsuk-heading-m">
            Alternative evidence
         </h2>

         <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                  Reason for alternative evidence
               </dt>
               <dd class="nhsuk-summary-list__value">
                  {{ data['additional-info'] }}
               <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="additional-info-2">
                  Change <span class="nhsuk-u-visually-hidden"></span>
                  </a>
               </dd>
            </div>

         </dl>

         <h2>Before you submit your evidence</h2>
         <p>By submitting your evidence, you are confirming that the information you’ve given us is correct. If you knowingly provide incorrect information, you could be prosecuted or face civil proceedings.</p>

         <p>You can <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy" target="_blank">find out more about how we use your information on our website</a>.</p>
         
         {{ button({
         "text": "Agree and send"
         }) }}
      </form>

      <!-- {{ backLink({
         "href": "additional-info-1",
         "text": "Change my previous answer"
         }) }} -->
   </div>
</div>
{% endblock %}