{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="app-complete" method="post">

        <h1>Check your answers before sending your application</h1>

        <h2>Your details</h2>

        {{ summaryList({
          rows: [
            
            {
              key: {
                text: "Full name"
              },
              value: {
                text: "Karen Francis"
              },
              actions: {
                items: [
                  {
                    href: "full-name",
                    text: "Change",
                    visuallyHiddenText: "full name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "15 March 1998"
              },
              actions: {
                items: [
                  {
                    href: "dob",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Home address"
              },
              value: {
                html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
              },
              actions: {
                items: [
                  {
                    href: "address-lookup",
                    text: "Change",
                    visuallyHiddenText: "home address"
                  }
                ]
              }
            },
            {
              key: {
                text: "NHS number"
              },
              value: {
                text: "485 777 3456"
              },
              actions: {
                items: [
                  {
                    href: "nhs-number",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                html: '<p>karen.francis@example.com</p>'
              },
              actions: {
                items: [
                  {
                    href: "email-address",
                    text: "Change",
                    visuallyHiddenText: "email address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Phone number"
              },
              value: {
                html: '<p>07123 456 7890</p>'
              },
              actions: {
                items: [
                  {
                    href: "phone-number",
                    text: "Change",
                    visuallyHiddenText: "email address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Add child(ren) details"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "add-child-1",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            }
    
          ]
        }) }}

        <h2>Your partner's details</h2>

        {{ summaryList({
          rows: [
            
            {
              key: {
                text: "Full name"
              },
              value: {
                text: "Mark Francis"
              },
              actions: {
                items: [
                  {
                    href: "partner/full-name",
                    text: "Change",
                    visuallyHiddenText: "full name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "27 November 1998"
              },
              actions: {
                items: [
                  {
                    href: "partner/dob",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            }
    
          ]
        }) }}

        <h2>Your children's details</h2>
        <h3>Child 1</h3>

        {{ summaryList({
          rows: [
            
            {
              key: {
                text: "Full name"
              },
              value: {
                text: "Millie Francis"
              },
              actions: {
                items: [
                  {
                    href: "child-2/full-name",
                    text: "Change",
                    visuallyHiddenText: "full name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "2 April 2016"
              },
              actions: {
                items: [
                  {
                    href: "child-2/dob",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            }
    
          ]
        }) }}

        <h2>Now send your application</h2>
        <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        {{ button({
          "text": "Accept and send"
        }) }}


      </form>

     <!-- {{ backLink({
        "href": "add-another-yn",
        "text": "Change my previous answer"
      }) }} -->

    </div>
  </div>
{% endblock %}
