{% extends "layout.html" %}

{% block pageTitle %}
  What type of EHIC do you want?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <form action="add-someone" method="post">

        <h2>Based on the information you have provided you may be entitled to an UK GHIC or UK EHIC</h2>

        <br>

        <h5 class="nhsuk-heading-xs">A UK GHIC covers:</h5>
        <ul class="list list-bullet">
          <li>
            state provided healthcare cover for treatment that becomes necessary whilst temporarily staying in an EU country
          </li>
        </ul>

        <p>In the future, more countries may be added to those accepting a UK GHIC.</p>

        <br>

        <h5 class="nhsuk-heading-xs">A UK EHIC covers:</h5>
        <ul class="list list-bullet">
          <li>
            state provided healthcare cover for treatment that becomes necessary whilst temporarily staying in an EU country, Norway, Iceland, Liechtenstein and Switzerland.
          </li>
          <!-- <li>
            state provided healthcare cover for treatment that becomes necessary whilst temporarily staying in Norway, Iceland, Lichtenstein and Switzerland
          </li> -->
        </ul>

        <br>

        <!-- <p>
          In the future, more countries may be added to those accepting a GHIC. A UK-issued EHIC will only cover the countries stated above.
        </p> -->

        {% call fieldset({
          legend: {
            text: "What type of overseas health cover would you like?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ radios({
          "idPrefix": "card-type",
          "name": "card-type",
          "items": [
            {
              "value": "UK-EHIC",
              "text": "UK-issued EHIC"
            },
            {
              "value": "GHIC",
              "text": "GHIC"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>
{% endblock %}
