{% extends 'layout.html' %}

{% block pageTitle %}
  Evidence submitted
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-panel__title">
            Evidence submitted
        </h1>
      </div>

      <h2>What happens next</h2>

      <p>We will now review your evidence you have given to us.</p>

      <p>We’ll email you and let you know if your application has been successful. If we need any further information, we’ll contact you and let you know.</p>

      <h2>If you have plans to travel and do not have your card</h2>

      <p>If you don’t have your card with you and need treatment while you’re abroad, you can apply for a Provisional Replacement Certificate (PRC).</p>

      <p>A PRC will give you the same entitlement as your [entitlement] and will cover you if you need treatment while you’re abroad.</p>

      <p>You should only apply for a PRC at the point you need treatment. PRCs cannot be issued in advance.</p>

      <p>To apply for a PRC while you’re abroad contact the NHS Overseas Healthcare Services. You can do this by telephone:</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p> Telephone: 0191 218 1999 </p>
        <p>Telephone from outside UK: +44 191 218 1999</p>
        <p>Monday to Friday, 8am to 6pm.</p>
      </div>

      <!-- <h4>Telephone</h4> -->
        <!-- <p>0300 330 1350  from the UK or +44 191 279 0575 from abroad.</p>
        <p>Lines are open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm (UK time).</p> -->

      
      <p>For information on how we use your data, please refer to our <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy">privacy notice</a>.</p>

      <form action="../start" method="post">

        {{ button({
          "text": "Finish"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}