{% extends 'layout.html' %}

{% block pageTitle %}
  Applying for an EHIC
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Applying for an EHIC
      </h1>

      <!-- <p class="nhsuk-lede-text">
        You are eligible for a UK-issued EHIC
      </p> -->

      <p>
        You are eligible for a UK-issued EHIC as you've told us that:
      </p>

      <ul class="list list-bullet">
        <li>you are an EU, Norwegian, Icelandic, Liechtensteiner, Swiss or dual national</li>
        <!-- <li>you were resident in the UK before 1 January 2021</li> -->
        <li>you are not studying or do not plan to study in the EU, Norway, Iceland, Liechtenstein or Switzerland before 1 January 2021</li>
      </ul>

      <p>You can also apply for eligible family members if they meet certain criteria.</p>

      <h2>Next steps</h2>
      <p>During your application we will ask you to provide the following information which we will use to confirm your UK residency:</p>
      <ul>
        <li>your NHS Number, if you know it</li>
        <li>your gender</li>        
      </ul>

      <!-- {{ insetText({
        "HTML": "<p>We will ask you to provide your NHS number </p>"
      }) }} -->
      
      <a href="card-type" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>

    </div>  

  </div>
{% endblock %}
