{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for visiting the EU (EHIC)
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for visiting the EU (EHIC)</h1>

      <p class="nhsuk-lede-text">
        Use this service to apply for an EHIC (European Health Insurance Card). An EHIC gives you the right to access state-provided healthcare on temporary stays in countries in the EU/EEA and Switzerland.
      </p>

      <h5>You can get an EHIC if:</h5>

      <ul>
        <li>You are a UK citizen</li>
        <li>You are an EU/EEA or Swiss citizen with either settled or pre-settled status or you have indefinite leave to remain in the UK</li>
      </ul>


      {{ insetText({
        "HTML": "<p>If you are not a UK citizen, you will need your NHS number to apply. Have this ready before you begin your application.</p>"
      }) }}

      <a href="where-do-you-live" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
