{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to add a spouse or civil partner to your application?
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="knowNhsNumber" method="post">

        {% call fieldset({
          legend: {
            text: "Do you know your NHS number?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
      
        <p>Your NHS number is a 10 digit number. For example, <span class=\"nhsuk-u-nowrap\">485 777 3456</span>.</p>
        <p>You can find it on any letter the NHS has sent you, on a prescription, or by logging in to a GP practice online service.</p>

        {{ radios({
          "idPrefix": "know-nhs-number",
          "name": "know-nhs-number",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}



        <!-- {{ details({
          "text": "What is a durable partner?",
          "HTML": "
          <p>Dummy content non sollicitudin dolor. Fusce erat turpis, tempus vitae urna fermentum, rutrum mollis elit. Donec pulvinar massa dolor, eget tempor ligula euismod ac. </p>
          "
        }) }} -->

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>


 <!--  {{ radios({
          "idPrefix": "partners",
          "name": "partners",
          "items": [
            {
              "value": "Spouse",
              "text": "Yes, add spouse or civil partner"
            },
            {
              "value": "Durable",
              "text": "Yes, add unmarried (durable) partner"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }} -->
{% endblock %}
