{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to add a spouse or civil partner to your application?
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="partners" method="post">

        {% call fieldset({
          legend: {
            text: "Do you want to add your unmarried (durable) partner to your application?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
      
     <!--  <p>
        You can add your partner if they are not a UK national.
      </p> -->

      <p>
        If your partner is an EU, Icelandic, Liechtensteiner, Norwegian or Swiss national they must make their own application for an EHIC.
      </p>
      <p>
        If your partner is a UK national, they are not eligible for an EHIC.
      </p>

        {{ radios({
          "idPrefix": "partners",
          "name": "partners",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}

        {{ details({
          "text": "What is a durable partner?",
          "HTML": "
          <p>A durable partner is someone who you have been in a relationship with for 2 years or more starting before 1 January 2021. If the relationship has existed for less than 2 years, but you have a child together you can add your partner to your EHIC application.</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>


 <!--  {{ radios({
          "idPrefix": "partners",
          "name": "partners",
          "items": [
            {
              "value": "Spouse",
              "text": "Yes, add spouse or civil partner"
            },
            {
              "value": "Durable",
              "text": "Yes, add unmarried (durable) partner"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }} -->
{% endblock %}
