{% extends "layout.html" %}

{% block pageTitle %}
  Next steps
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <form action="main/full-name" method="post">

        {% call fieldset({
          legend: {
            text: "Next steps",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>
           To replace your card, we’ll search for your original application. We may need to take the details of the person who made the original application.
        </p>

        <p>To search for your record, we’ll ask for:</p>

        <ul>
          <li>name</li>
          <li>date of birth</li>
          <li>postcode, if you live in the UK</li>
          <li>National Insurance number</li>
        </ul>

        {{ insetText({
          "HTML": "<p>To help us find your record, fill in this application using the details of the person who originally applied. You’ll then be able to request a replacement card for anyone on the application.</p>"
        }) }}

        <p>We’ll send any replacement cards to the address we hold for you on our records. If you live in the UK, we’ll check the postcode you give us matches the one we have.</p>

        {{ details({
          "text": "If your name, address, or the country you live in has changed",
          "HTML": "
          <p><a href=\"https://www.nhsbsa.nhs.uk/contact-us/overseas-healthcare-services-contact-us\" target=\"_blank\">Contact the NHS Overseas Healthcare Service</a> if your name, address, or the country that you live in has changed since you last applied. </p>
          "
        }) }}

        {% endcall %}
      
        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "../new-application",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>
{% endblock %}