{% extends "layout.html" %}
{% block pageTitle %}
Check your answers
{% endblock %}
{% block beforeContent %}
<!-- Phase banner -->
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Prototype
         </strong>
         <span class="app-phase-banner__text">
         This is a prototype - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-three-quarters">
      <form action="../add-child-2" method="post">
         <h1>Check your answers</h1>
         <h2>Your partner's details</h2>
         <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Full name
               </dt>
               <dd class="nhsuk-summary-list__value">
                  {{ data['partner-firstname'] }} {{ data['partner-lastname'] }}
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a href="full-name">
                  Change<span class="nhsuk-u-visually-hidden"> full name</span>
                  </a>
               </dd>
            </div>
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Home address
               </dt>
               <dd class="nhsuk-summary-list__value">
                  {% if (data['partner-same-address'] === "No" ) %}
                  <p>
                     {{ data['partner-eu-address-1'] }},<br>
                     {% if(data['partner-eu-address-2']) %}
                     {{ data['partner-eu-address-2'] }},<br>
                     {% endif %}
                     {{ data['partner-eu-town-city'] }},<br>
                     {{ data['partner-eu-state'] }},<br>
                     {% if(data['partner-eu-postcode']) %}
                     {{ data['partner-eu-postcode'] }},<br>
                     {% endif %}
                     {{ data['partner-eu-country'] }}
                  </p>
                  {% else %}
                  {% if (data['select-1']) %}
                  {% if (data['select-1']) %}
                  {{ data['select-1'] | replace(", ", ",<br>") | safe }}
                  {% endif %}
                  {% else %}
                  <p>
                     {{ data['building-street'] }},<br>
                     {% if (data['building-street-2']) %}{{ data['building-street-2'] }},<br>{% endif %}
                     {{ data['town-city'] }},<br>
                     {% if (data['country']) %}{{ data['country'] }},<br>{% endif %}
                     {{ data['postcode'] }}
                  </p>
                  {% endif %}
                  {% endif %}
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a href="partner-address">
                  Change<span class="nhsuk-u-visually-hidden"> home address</span>
                  </a>
               </dd>
            </div>
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Date of birth
               </dt>
               <dd class="nhsuk-summary-list__value">
                  {{ data['partner-dob-day'] }} / {{ data['partner-dob-month'] }} / {{ data['partner-dob-year'] }}
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a href="dob">
                  Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                  </a>
               </dd>
            </div>
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  National Insurance number
               </dt>
               <dd class="nhsuk-summary-list__value">
                  {{ data['partner-nino'] }}
               </dd>
               <dd class="nhsuk-summary-list__actions">
                  <a href="nino">
                  Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                  </a>
               </dd>
            </div>
         </dl>
         {{ button({
         "text": "Continue"
         }) }}
      </form>
      <!-- {{ backLink({
         "href": "add-another-yn",
         "text": "Change my previous answer"
         }) }} -->
   </div>
</div>
{% endblock %}