{% extends "layout.html" %}

{% block pageTitle %}
  What date does your S1 end in Switzerland?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="s1-full-name" method="post">

        <!-- {% call fieldset({
          legend: {
            text: "When will you be studying?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %} -->


        {{ dateInput({
      "id": "example",
      "namePrefix": "example",
      "fieldset": {
      "legend": {
      "text": "What date does your S1 end in Switzerland?",
      "classes": "nhsuk-label--l",
      "isPageHeading": true
        }
      },
      "hint": {
        "text": "For example, 13 9 2019"
      },
      "items": [
        {
          "name": "day",
          "classes": "nhsuk-input--width-2"
        },
        {
          "name": "month",
          "classes": "nhsuk-input--width-2"
        },
        {
          "name": "year",
          "classes": "nhsuk-input--width-4"
        }
      ]
    }) }}



        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "what-you-need",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
