{% extends "layout.html" %}

{% block pageTitle %}
  You need to contact us
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <form action="changeCircs" method="post">

        {% call fieldset({
          legend: {
            text: "You need to contact us",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>
          If your details or circumstances have changed, you can't currently apply for a replacement card online.</p> 
        </p>

        <!-- <p>If you need to contact us about your application or if you do not receive your card within 10 days, email us at <a href="nhsbsa.ehicenquiries@nhs.net">nhsbsa.ehicenquiries@nhs.net</a>. </p> -->

        <h4>Telephone</h4>
        <p>0300 330 1350  from the UK or +44 191 279 0575 from abroad.</p>
        <p>Lines are open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm (UK time).</p>

        <h4>Email</h4>
        <p><a href="nhsbsa.ehicenquiries@nhs.net">nhsbsa.ehicenquiries@nhs.net</a>. </p>

        <!-- {{ insetText({
          "HTML": "<p>If you need to contact us about your application or if you do not receive your card within 10 days, email us at <a href=\"nhsbsa.ehicenquiries@nhs.net\" title=\"External website\">nhsbsa.ehicenquiries@nhs.net</a>.</p>"
        }) }} -->

        <h3>If you are travelling soon</h3>

        <p>You can get a Provisional Replacement Certificate (PRC) to prove your entitlement to medically necessary healthcare if you travel to the EU, Norway, Iceland, Liechtenstein or Switzerland without your UK GHIC, UK EHIC or EHIC and need treatment during your visit. This includes if you travel and require treatment before you have received your card.</p>
        <p>You should only apply for a PRC at the point you need treatment. PRCs cannot be issued in advance.</p>
        <p>To apply for a PRC contact <a href="https://www.nhsbsa.nhs.uk/contact-us/overseas-healthcare-services-contact-us">NHS Overseas Healthcare Services</a>.</p>

          <!-- <ul>
            <li>changed your name</li>
            <li>moved to a new address</li>
          </ul> -->
          
        

        <!-- <h3>Has anything changed since you last applied?</h3> -->

        

        {% endcall %}


        <!-- {{ details({
          "text": "How to find your NHS number",
          "HTML": "
          
          "
        }) }} -->


        

        <!-- {{ button({
          "text": "Continue"
        }) }} -->




      </form>




    <!--  {{ backLink({
        "href": "new-application",
        "text": "Change my previous answer"
      }) }}
       -->
    </div>
  </div>
{% endblock %}
