{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="app-complete" method="post">

        <h1>Check your answers before sending your application</h1>

        <h2>Your details</h2>

        {{ summaryList({
          rows: [

            {
              key: {
                text: "Country of study"
              },
              value: {
                html: "Germany"
              },
              actions: {
                items: [
                  {
                    href: "course-country",
                    text: "Change",
                    visuallyHiddenText: "your country of study"
                  }
                ]
              }
            },
             {
              key: {
                text: "Course start date"
              },
              value: {
                html: "28 September 2020"
              },
              actions: {
                items: [
                  {
                    href: "course-start-date",
                    text: "Change",
                    visuallyHiddenText: "your course start date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Course end date"
              },
              value: {
                html: "30 June 2021"
              },
              actions: {
                items: [
                  {
                    href: "course-end-date",
                    text: "Change",
                    visuallyHiddenText: "your course end date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Name"
              },
              value: {
                text: "Karen Francis"
              },
              actions: {
                items: [
                  {
                    href: "full-name",
                    text: "Change",
                    visuallyHiddenText: "your name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "15 March 1998"
              },
              actions: {
                items: [
                  {
                    href: "dob",
                    text: "Change",
                    visuallyHiddenText: "your date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Home address"
              },
              value: {
                html: "
                      73 Roman Rd<br>
                      Leeds<br>
                      LS2 5ZN<br>"
              },
              actions: {
                items: [
                  {
                    href: "address-lookup",
                    text: "Change",
                    visuallyHiddenText: "your home address"
                  }
                ]
              }
            },
            {
              key: {
                text: "NHS number"
              },
              value: {
                text: "485 777 3456"
              },
              actions: {
                items: [
                  {
                    href: "nhs-number",
                    text: "Change",
                    visuallyHiddenText: "your NHS number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Gender"
              },
              value: {
                text: "Female"
              },
              actions: {
                items: [
                  {
                    href: "gender",
                    text: "Change",
                    visuallyHiddenText: "your gender"
                  }
                ]
              }
            },
           
            {
              key: {
                text: "Email address"
              },
              value: {
                html: '<p>karen.francis@example.com</p>'
              },
              actions: {
                items: [
                  {
                    href: "email-address",
                    text: "Change",
                    visuallyHiddenText: "your email address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Contact telephone number"
              },
              value: {
                html: '<p>07123 456 7890</p>'
              },
              actions: {
                items: [
                  {
                    href: "phone-number",
                    text: "Change",
                    visuallyHiddenText: "your contact telephone number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Additional children details"
              },
              value: {
                text: "No"
              },
              actions: {
                items: [
                  {
                    href: "add-child-1",
                    text: "Change",
                    visuallyHiddenText: "Additional children details"
                  }
                ]
              }
            }
            
            
          ]
        }) }}

        <h2>Now send your application</h2>
        <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct. We will tell you how to send evidence of your studies on the next page.</p>

        {{ button({
          "text": "Accept and send"
        }) }}


      </form>

     <!-- {{ backLink({
        "href": "add-another-yn",
        "text": "Change my previous answer"
      }) }} -->

    </div>
  </div>
{% endblock %}
