{% extends "layout.html" %}

{% block pageTitle %}
  We cannot find your record
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <!-- <form action="full-name" method="post"> -->

         <h1>We cannot find your record</h1>

        {% call fieldset({
          legend: {
            text: "",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>
           Based on the information you have provided we cannot find a record for your entitlement. 
        </p>

        <p>
         We search for your record using the details of the person who originally applied, this includes their:
        </p>
        <ul>
          <li>name</li>
          <li>date of birth</li>
          <li>UK postcode</li>
          <li>National Insurance number</li>
        </ul>

        <p>
         <a href="full-name">Check the information you have given us is correct before making your request again</a>.
        </p>

         <p>
            If you have applied for a card and have not received it, your UK European Health Insurance Card (EHIC) or UK Global Health Insurance Card (GHIC) application may still be being processed.  
         </p>

        {{ insetText({
          "HTML": "<p>If you have an existing EHIC or applied for a UK GHIC prior to 29 June 2021 and need a replacement, <a href=\"../../start\">you will need to apply for healthcare cover abroad</a>."
        }) }}

        {% endcall %}
      
        <!-- {{ button({
          "text": "Continue"
        }) }} -->

      <!-- </form> -->

     {{ backLink({
        "href": "nino",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>
{% endblock %}