{% extends "layout.html" %}

{% block pageTitle %}
  What is your postcode?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="nino" method="post">

        <h2>What is {{ data['replace-firstname'] }}'s postcode?</h2>

        <p>We’ll check the postcode you give us matches the one we hold. We’ll send any replacement cards
to the address we have for you on our records.</p>

        {% call fieldset({
          legend: {
            text: "",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ input({
          "label": {
            "text": "Postcode"
          },
          "hint": {
            "text": "For example, NE1 1AA."
          },
          "id": "input-width-10",
          "name": "replace-postcode",
          "classes": "nhsuk-input--width-10"
        }) }}


        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "uk-address",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
