{% extends "layout.html" %}

{% block pageTitle %}
  What is the start date of your course?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="course-end-date" method="post">

        <h2>What is the start date of your period of study in {{ data['ghic-course-country'] }}?</h2>

        {% call fieldset({
          legend: {
            text: "",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <!-- <p>You must start studying in Germany before 1 January 2021.</p> -->

        {{ dateInput({
          "id": "example",
          "namePrefix": "ghic-course-start",
          "fieldset": {
          "legend": {
            }
          },
          "hint": {
            "text": " For example, 13 9 2019"
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4"
            }
          ]
        }) }}


        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "course-country",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
