{% extends 'layout.html' %}

{% block pageTitle %}
  Get in touch
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Get in touch
      </h1>

      <p class="nhsuk-lede-text">
       If you've got a question about your application or you have not received your EHIC, get in touch with the EHIC team.
      </p>

      <h4>Email</h4>
        <p>Include your reference number in your email.</p>
        <p>
          Email: <a href="nhsbsa.ehicenquiries@nhs.net">nhsbsa.ehicenquiries@nhs.net</a> <br>
          We aim to respond within 2 working days
        </p>

        <h4>Telephone</h4>
        <p>Have your reference number when you call us.</p>
        <p>
          Telephone: 0300 330 1350 <br>
          Monday to Saturday, 8am to 6pm (except public holidays)
        </p>

        {{ backLink({
          "href": "app-complete",
          "text": "Go back"
        }) }}

    </div>  

  </div>
{% endblock %}
