{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="app-complete" method="post">

        <h1>Check your answers before sending your application</h1>

        <h2>Your details</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Full Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-first-name'] }} {{ data['app-settled-last-name'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-dob-day'] }}/{{ data['app-settled-dob-month'] }}/{{ data['app-settled-dob-year'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Address
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-address-line-1'] }}<br>
              {{ data['app-settled-address-line-2'] }}<br>
              {{ data['app-settled-address-city'] }}<br>
              {{ data['app-settled-address-county'] }}<br>
              {{ data['app-settled-address-postcode'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> contact information</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHS Number
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-nhs-number'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> nhs number</span>
              </a>

            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Gender
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-gender'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> gender</span>
              </a>

            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Do you plan to permanently move to another country in the next 5 years?
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-emigration'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> move to another permanent country</span>
              </a>

            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Move date
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-em-move-day'] }}/{{ data['app-settled-em-move-month'] }}/{{ data['app-settled-em-move-year'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> move date</span>
              </a>

            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-email'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> email</span>
              </a>

            </dd>

          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Phone number
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-phone-number'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> phone number</span>
              </a>

            </dd>

          </div>

        </dl>

        <h2>Your spouse's details</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Full Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-spouse-first-name'] }} {{ data['app-settled-spouse-last-name'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> spouse's name</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Home address
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-spouse-address-line-1'] }}<br>
              {{ data['app-settled-spouse-address-line-2'] }}<br>
              {{ data['app-settled-spouse-address-city'] }}<br>
              {{ data['app-settled-spouse-address-county'] }}<br>
              {{ data['app-settled-spouse-address-postcode'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> spouse's home address</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of Birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-spouse-dob-day'] }}/{{ data['app-settled-spouse-dob-month'] }}/{{ data['app-settled-spouse-dob-year'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> spouse's date of birth</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Nationality
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-spouse-nationality'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> spouse's nationality</span>
              </a>

            </dd>

          </div>
        </dl>

        <h2>Your children's details</h2>
        <h3>Child 1</h3>

        {{ summaryList({
          rows: [
            
            {
              key: {
                text: "Full name"
              },
              value: {
                text: "Millie Francis"
              },
              actions: {
                items: [
                  {
                    href: "child-1/full-name",
                    text: "",
                    visuallyHiddenText: "full name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "2 April 2016"
              },
              actions: {
                items: [
                  {
                    href: "child-1/dob",
                    text: "",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Is Millie dependant on you?"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "child-1/dob",
                    text: "",
                    visuallyHiddenText: "over-21"
                  }
                ]
              }
            },
            {
              key: {
                text: "Home address"
              },
              value: {
                html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
              },
              actions: {
                items: [
                  {
                    href: "child-1/address-manual",
                    text: "",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                text: "EU, Icelandic, Liechtensteiner, Norwegian or Swisss"
              },
              actions: {
                items: [
                  {
                    href: "child-1/nationality",
                    text: "",
                    visuallyHiddenText: "nationality"
                  }
                ]
              }
            }
    
          ]
        }) }}

        <!-- <h2>Your parent's details</h2>
        <h3>Parent 1</h3>

        {{ summaryList({
          rows: [
            
            {
              key: {
                text: "Full name"
              },
              value: {
                text: "David Smith"
              },
              actions: {
                items: [
                  {
                    href: "parent/full-name",
                    text: "Change",
                    visuallyHiddenText: "full name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "27 May 1954"
              },
              actions: {
                items: [
                  {
                    href: "parent/dob",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Home address"
              },
              value: {
                html: "66 First Street<br>Leeds<br> LS2 5ZN"
              },
              actions: {
                items: [
                  {
                    href: "parent/address-manual",
                    text: "Change",
                    visuallyHiddenText: "home address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                text: "EU, Icelandic, Liechtensteiner, Norwegian or Swisss"
              },
              actions: {
                items: [
                  {
                    href: "parent/nationality",
                    text: "Change",
                    visuallyHiddenText: "nationality"
                  }
                ]
              }
            }
    
          ]
        }) }} -->

        <!-- <h2>Your grandparent's details</h2>
        <h3>Grandparent 1</h3>

        {{ summaryList({
          rows: [
            
            {
              key: {
                text: "Full name"
              },
              value: {
                text: "David Smith"
              },
              actions: {
                items: [
                  {
                    href: "parent/full-name",
                    text: "Change",
                    visuallyHiddenText: "full name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "27 May 1954"
              },
              actions: {
                items: [
                  {
                    href: "parent/dob",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Home address"
              },
              value: {
                html: "66 First Street<br>Leeds<br> LS2 5ZN"
              },
              actions: {
                items: [
                  {
                    href: "parent/address-manual",
                    text: "Change",
                    visuallyHiddenText: "home address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                text: "EU, Icelandic, Liechtensteiner, Norwegian or Swiss"
              },
              actions: {
                items: [
                  {
                    href: "parent/nationality",
                    text: "Change",
                    visuallyHiddenText: "nationality"
                  }
                ]
              }
            }
          ]
        }) }} -->

        <h2>Now send your application</h2>
        <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        {{ button({
          "text": "Accept and send"
        }) }}


      </form>

     <!-- {{ backLink({
        "href": "add-another-yn",
        "text": "Change my previous answer"
      }) }} -->

    </div>
  </div>
{% endblock %}
