{% extends 'layout.html' %}
{% block pageTitle %}
Application submitted
{% endblock %}
{% block beforeContent %}
<style>
   .example-icon-list p {
   display: inline-block;
   font-size: 16px;
   padding-left: 1em;
   vertical-align: middle;
   margin-bottom: 0;
   }
   .list--check, {
   list-style: none;
   padding-left: 32px;
   }
   .list--check li::before {
   background-image:
   }
   .standard {
   vertical-align: middle;
   padding: 0;
   counter-reset: standard-counter;
   }
   .standard>li::before {
   width: 10%;
   }
   .standard>li {
   list-style: none;
   display: block;
   border-top: 1px solid #bfc1c3;
   padding: 1em 0 0.5em 0;
   margin: 0;
   page-break-inside: avoid;
   }
   .updated-standard li .point {
   width: 67%;
   }
   .standard>li .point {
   padding-left: 3em
   }
   .standard>li .point {
   font-size: 18px;
   line-height: 1.2;
   }
   .circle-step {
   min-width: 36px;
   min-height: 38px;
   line-height: 36px;
   }
   .circle {
   display: inline-block;
   border-radius: 50%;
   background: #0b0c0c;
   color: #fff;
   font-size: 16px;
   font-family: Arial, sans-serif;
   font-weight: bold;
   text-align: center;
   position: absolute;
   margin: 0em;
   }
   .number {
   display: inline-block;
   border-radius: 50%;
   /*background: #0b0c0c;*/
   /*color: #fff;*/
   font-size: 32px;
   /*font-family: Arial, sans-serif;*/
   font-weight: bold;
   text-align: center;
   position: absolute;
   margin: 0em;
   }
   .panel_side {
   display: block;
   padding-top: 15px;
   background-color: #DEE0E2;
   }
   .panel_side_inner {
   width: auto;
   margin-left: 15px;
   margin-right: 15px;
   padding-bottom: 5px;
   }
   .display_field {
   margin-bottom: 20px;
   display: block;
   }
   .display_field_value h3 {
   font-family: "nta", Arial, sans-serif;
   font-size: 19px;
   line-height: 1.31579;
   text-transform: none;
   font-weight: 700;
   margin-bottom: 5px;
   }
   .income-img {
   width: 283px;
   }
   @media(max-width:640px) {
   .income-img {
   width: 100%
   }
   }
</style>
<!-- Phase banner -->
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Prototype
         </strong>
         <span class="app-phase-banner__text">
         This is a prototype - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-bottom-4">
         <h1 class="nhsuk-panel__title">
            Application submitted
         </h1>
         <div class="nhsuk-panel__body">
            Your reference number
            <br>
            <strong>25002123</strong>
         </div>
      </div>

      <p>A confirmation email has been sent to <strong>{{ data['ghic-student-email'] }}</strong></p>
      <h2>Sending evidence of your studies</h2>
      <p>As part of your application, we need to see evidence of your studies in Germany. This can be a copy of any correspondence from your university or college that shows the dates you will be studying in Germany. </p> 
      <!-- Send us a copy of any correspondence from your university or college that shows the dates you will be studying in the EU, EEA or Switzerland. We will tell you how to do this -->
      <!-- {{ insetText({
      "HTML": "
      <p>You have X days to send us your evidence.</p>
      "
      }) }} -->
      <!-- <p>We will let you know when this has been done in 2 working days.</p> -->
      <h3>How to send evidence</h3>
      <!-- <h3 class="heading-medium" style="margin-top: 2em">How to send your proof</h3> -->
      <!-- <h4 class="heading-small">It’s as easy as sending a photo on your phone</h4> -->
      <ol class="standard">
         <li style="border-top: none;">
            <!-- <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span> -->
            <span class="number">1</span>
            <div class="point">
               <p>Take a photo of your evidence using a mobile phone or digital camera.</p>
            </div>
         </li>
         <li>
            <span class="number" style="">2</span>
            <div class="point">
               <p>Check the image is clear and you can read the information.</p>
            </div>
         </li>
         <li>
            <span class="number" style="">3</span>
            <div class="point">
               <p>Send the photo as an email attachment to: <a href="">nhsbsa.ehicenquiries@nhs.net </a><br><br> You must include your EHIC reference number: <span class="strong">25002123</span>. </p>
               <p>We need to be able to confirm your identity, so your email must also include your:</p>
               <ul class="list list-bullet">
                  <li>First name and last name (family name)</li>
                  <li>Date of birth</li>
                  <li>Address including postcode </li>
               </ul>
            </div>
         </li>
         <!-- <li>
            <span class="number" style="">4</span>
            <div class="point">
               <p>Once we receive your email with your evidence, we will check it and contact you within 2 working days.
                  <br>
               </p>
            </div>
         </li> -->

      <!-- <details class="nhsuk-details">
         <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            I want to send my evidence by post
            </span>
         </summary>
         <div class="nhsuk-details__text">
            <p>If you don’t have access to a digital camera you can photocopy your evidence and send the copy to us. You must also include the following information:</p>
            <ul class="list list-bullet">
               <li>Your EHIC reference number: 25002123</li>
               <li>First name and last name (family name)</li>
               <li>Date of birth</li>
               <li>Address including postcode </li>
            </ul>
            <p>Post a copy of your evidence to:</p>
            <p class="panel" style="border:none; padding-top:0">
               Overseas Healthcare Services, EHIC<br>
               NHSBSA, Bridge House<br>
               152 Pilgrim Street<br>
               Newcastle Upon Tyne <br>
               NE1 6SN
            </p> -->
            <!-- <p>Once we receive your evidence by post, we will check it and contact you within 5 working days.</p> -->
         <!-- </div>
      </details> -->

      <h2>What happens next</h2>

      <p>Once we receive and check your evidence we will process your application. We will contact you by email in 3 to 5 working days to confirm that your EHIC has been printed and posted.</p>

      <p>Most customers receive their EHIC within 10 working days. 
      <!-- If you live outside the UK, this may take longer.  -->
      </p>

      <p>If you've got a question about your application, <a href="contact">contact us</a>.</p>

      <form action="../start" method="post">

        {{ button({
           "text": "Back to start"
         }) }}

      </form>


      <!-- <h2>What happens next</h2>
      <p>If your application passes our checks, you will receive your EHIC by post in 7-10 days. </p> -->

      <!-- <p>If you need to contact us about your application or if you do not receive your card within 10 days, email us at <a href="nhsbsa.ehicenquiries@nhs.net">nhsbsa.ehicenquiries@nhs.net</a>. </p> -->

     <!--  <p>If you need to contact us about your application or if you do not receive your card within 10 days, <a href="contact">contact us</a></p> -->

      <!-- <h4>Email</h4>
         <p>Include your reference number in your email.</p> -->
      <!-- <p> -->
      <!-- <a href="nhsbsa.ehicenquiries@nhs.net">nhsbsa.ehicenquiries@nhs.net</a> <br> -->
      <!-- Include your reference number in your email. We aim to respond within 2 working days. -->
      <!-- </p> -->
      <!-- <h4>Telephone</h4>
         <p>Have your reference number when you call.</p>
         <p>
           Telephone: 0123 112 223 3344 <br>
           Monday to Saturday, 8am to 6pm (except public holidays)
         </p> -->
      <!-- <p>You can also telephone us on 0300 330 1350</p>
         <p>Advisers are available Monday to Friday, 8am to 6pm and on Saturday, 9am to 3pm (UK time)</p>
         <p>Have your reference number ready when you call us.</p> -->
   </div>
</div>
{% endblock %}