{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for travelling abroad
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for travelling abroad</h1>

      <p class="nhsuk-lede-text">Apply now for a new UK European Health Insurance Card (EHIC).</p>

      <h2>EHIC from 1 January 2021</h2>

      <p>Under the UK’s EU Withdrawal Agreement, certain people are eligible for a new UK EHIC.</p>
      <p>You can use this service to apply for a new UK EHIC if you are in any of these groups:</p>

      <div class="nhsuk-expander-group">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Nationals of the EU, Switzerland, Norway, Iceland, or Liechtenstein who are ordinarily resident in the UK on or before 31 December 2020.
            </span>
          </summary>

          <div class="nhsuk-details__text">
            
            <p>If you are a national of the EU, Switzerland, Norway, Iceland, or Liechtenstein and ordinarily resident in the UK on or before 31 December 2020, you may be eligible to apply for an EHIC.</p>

            <p>If you are eligible, you can also use this service to add any spouse or civil partner, durable partner, and children that meet the eligibility conditions:</p>

            <h5 class="nhsuk-heading-xs">Spouse or civil partner</h5>

            <p>Your spouse or civil partner must live in the UK, an EU country, Switzerland, Norway, Iceland, or Liechtenstein.</p>

            <h5 class="nhsuk-heading-xs">Durable partner</h5>

            <p>A durable partner is someone you have been living together in a relationship similar to a marriage for at least two years, or you have a child with them, and you meet all of the following conditions:</p>

            <ul>
              <li>You intend to live together permanently.</li>
              <li>You are not blood relatives.</li>
              <li>Any previous marriage or other similar relationship by either you or your partner has permanently broken down.</li>
            </ul>

            <p>You can add a durable partner if they are a non-UK citizen and meet some other conditions about their nationality or residence.</p>

            <p>If they are a national of the EU, Switzerland, Norway, Iceland, or Liechtenstein they can be added if:</p>

            <ul>
              <li>they arrive in the UK after 31 December 2020 - if they arrived before this, they should apply themselves and</li>
              <li>your relationship began on or before 31 December 2020</li>
            </ul>

            <p>If they are a national of another country, these conditions also apply unless they have settled or pre-settled status under the European Union Settlement Scheme (EUSS), in which case we will just have to verify their residency.</p>

            <h5 class="nhsuk-heading-xs">Children</h5>

            <p>You can add a child if they are yours or your partner’s and meet conditions about their age and residency.</p>
            <p>They are eligible if they live in the UK and are under 18 or, if older, you declare they are dependent on you.</p>
            <p>If the child is over 18 but not dependent on you, they can still be added if they:</p>

            <ul>
              <li>are a non-UK national</li>
              <li>reside in the UK</li>
              <li>were born on or after 1 January 2000</li>
            </ul>

            <p>Non-dependent children born before 1 January 2000, who are nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and resident in the UK before 1 January 2021, should apply for an EHIC themselves.</p>
            <p>Children who live in the EU, Switzerland, Norway, Iceland, or Liechtenstein may also be eligible if you have a UK-issued S1.</p>

          </div>
        </details>

        <br>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              People living in the EU, Switzerland, Norway, Iceland, or Liechtenstein with a registered S1, E121, E106 or E109 form
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h5 class="nhsuk-heading-xs">What is an S1, E121, E106 and E109 form?</h5>

            <p>An S1 form (previously known as an E121, E106 and E109) is a healthcare certificate that entitles the holder and any dependants to healthcare in another EU country, as well as Switzerland, Norway, Iceland, and Liechtenstein, on the same basis as a resident of that country.</p>
            
            <p>You can apply now for a new UK EHIC if you have a registered S1, E121, E106 or E109 form and you are either:</p>

            <ul>
              <li>receiving a qualifying pension or benefit</li>
              <li>a family member (a dependant) of someone with a qualifying pension or benefit</li>
              <li>a frontier worker (someone who works in one state and lives in another) who started working in the host state on or before 31 December 2020 (this will be for as long as you continue to be a frontier worker in the host state)</li>
              <li>a family member of a frontier worker</li>
            </ul>

            <p>An EHIC is for healthcare when you travel. You only need to apply for a new card if you have an S1, E121, E106 or E109 and are planning to visit another EU country, Switzerland, Norway, Iceland, or Liechtenstein.</p>

          </div>
        </details>

        <br>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Students studying in the EU, Switzerland, Norway, Iceland, or Liechtenstein who are not nationals of these countries
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>If you are a UK national, you can also apply if you are studying in the EU, Switzerland, Norway, Iceland, or Liechtenstein, providing:</p>

            <ul>
              <li>you ordinarily reside in the UK</li>
              <li>your study began on or before 31 December 2020</li>
              <li>your study will continue in that country after that date</li>
            </ul>

            <p>This also applies to nationals of other countries outside the EU, Switzerland, Norway, Iceland, or Liechtenstein who meet these conditions and have paid, or are exempt from paying, the Immigration Health Surcharge.</p>

            <p>If you are an eligible student studying in the EU, Switzerland, Norway, Iceland, or Liechtenstein, you can use your EHIC to get medically necessary, state-provided healthcare within the country you are studying.</p>

            <p>You will only be able to use your EHIC in the country you were studying in prior to 1 January 2021 and only while you continue studying there. This country will be identified on the card.</p>

          </div>
        </details>

      </div>

      <h2>Other people who can apply</h2>

      <p>
        If you are a national of the EU, Switzerland, Norway, Iceland, or Liechtenstein and successfully apply for a UK EHIC, you may be able to add parents, grandparents, or grandchildren if they meet certain nationality and residency conditions.
      </p>
      <p>
        You should do that by completing your application and emailing us with the information we require:
      </p>

      <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             Adding a parent or grandparent
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>You can add you and your spouse or partner’s dependent parents and grandparents if they are a non-UK national, we can verify that they live with you, and they meet some other conditions.</p>

            <p>If they are a national of the EU, Switzerland, Norway, Iceland, or Liechtenstein:</p>

            <ul>
              <li>their relationship with you must have begun before 1 Jan 2021</li>
              <li>they must have arrived in the UK after 31 December 2020 (if they arrived before this date they should apply separately in their own name)</li>
            </ul>

            <p>If they are a national of any other country, they can be added if they have settled or pre-settled status under the European Union Settlement Scheme (EUSS). If they do not have settled or pre-settled status, they can be added if their relationship with you began before 1 Jan 2021.</p>

            <p>To add a parent or grandparent, complete your application and then email us at <a href="nhsbsa.ehicapplicationsohs@nhs.net">nhsbsa.ehicapplicationsohs@nhs.net</a> with proof of these conditions and their name and date of birth.</p>

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             Adding a grandchild
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>You can add a grandchild if they are a non-UK national, they were born before 1 Jan 2021, and they meet some other conditions.</p>

            <p>If they are a national of the EU, Switzerland, Norway, Iceland, or Liechtenstein they are entitled if they are:</p>

            <ul>
              <li>under 18</li>
              <li>older than 18 but born on or after 1 January 2000, and arrived in the UK after 31 December 2020</li>
              <li>older than 18, born before 1 January 2000, arrived in the UK after 31 December 2020, and are dependent on you</li>
            </ul>

            <p>If they are older than 18 and arrived in the UK before 31 December 2020, they should apply separately in their own name.</p>

            <p>If your grandchild is a national of any other country, they can be added if they have settled or pre-settled status under the European Union Settlement Scheme (EUSS). If they do not have settled or pre-settled status, they can be added if they were born before 1 Jan 2021.</p>

            <p>To add a grandchild, complete your application and then email us at <a href="nhsbsa.ehicapplicationsohs@nhs.net">nhsbsa.ehicapplicationsohs@nhs.net</a> with proof of these conditions and their name and date of birth.</p>

          </div>
        </details>

        <p>There are other people who may be eligible for a UK EHIC but cannot use this service to apply:</p>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             EU national students
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>If you are an EU national ordinarily resident in the UK, but studying in the EU, Switzerland, Norway, Iceland, or Liechtenstein, you should send an email requesting a UK EHIC to <a href="nhsbsa.ehicapplicationsohs@nhs.net">nhsbsa.ehicapplicationsohs@nhs.net</a> with the following information:</p>

            <ul>
              <li>Evidence of UK residency.</li>
              <li>Confirmation of EU settled or pre-settled status or documentary evidence of ILR or biometric residence permit.</li>
            </ul>

            <p>We will also require a copy of a letter from your university or college, sent to your UK address as proof of residency, which confirms the:</p>

            <ul>
              <li>name and address of the educational institution</li>
              <li>address of where you are studying overseas</li>
              <li>details of the qualification you are studying for</li>
              <li>date the course started</li>
              <li>date the course is due to finish</li>
              <li>period of study abroad if it is part of a UK course</li>
            </ul>

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             Anyone working in the EU, Switzerland, Norway, Iceland, or Liechtenstein with a UK-issued A1 document
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>If you work in the EU, Switzerland, Norway, Iceland, or Liechtenstein and have a UK-issued A1 document you should send an email requesting a UK EHIC to <a href="nhsbsa.ehicapplicationsohs@nhs.net">nhsbsa.ehicapplicationsohs@nhs.net</a> with a copy of your A1 document.</p>

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             Chen and Ibrahim/Teixeira carers
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>If you are an adult carer of a child who is from the EU, Switzerland, Norway, Iceland, or Liechtenstein, but you are not from any of these countries or from the UK or Ireland, you may be eligible to apply for an EHIC for yourself and for any other children you have who are not nationals of these countries.</p>

            <p>You should send an email requesting a UK EHIC to <a href="nhsbsa.ehicapplicationsohs@nhs.net">nhsbsa.ehicapplicationsohs@nhs.net</a> with a copy of your leave to remain document and a copy of the child’s passport or ID card from the EU, Switzerland, Norway, Iceland, or Liechtenstein. If you have other children who are not UK or Irish nationals, you should send their leave to remain documents as well.</p>

            <p>You cannot apply if your right to reside in the UK is derived from your caring for a British citizen (Zambrano carer).</p>

          </div>
        </details>


        <h2>Useful information about EHIC and your application</h2>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             What EHIC covers
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>Unless you are a UK student studying outside the UK, the new UK EHIC will cover you for all medically necessary, state-provided healthcare when visiting another EU country, Switzerland, Norway, Iceland, or Liechtenstein.</p>

            <p>This does not include the country you live in or the UK..</p>

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             The application process
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>When you apply, you will need to answer a series of questions about yourself and register your details. If you enter information which means you are not entitled to an EHIC, we will let you know straight away and you can stop your application.</p>

            <p>If we need further evidence to support your application, such as proof of address, we will email you with advice on what to do next.</p>

            <p>Once we receive your application, and any evidence we ask for, we will process it and let you know if it is successful or not.</p>

            <p>You can use your new card immediately.</p>

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             Travel insurance and your EHIC
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>Your EHIC is not a substitute for travel insurance. It may not cover all health costs and never covers repatriation costs. Make sure you have travel insurance as well as an EHIC.</p>

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
             How we use your information
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>To process your application, we may share your information (where appropriate) with:</p>

            <ul>
              <li>Indesser and LexisNexis, third party data providers acting on our behalf who will make a UK residency check</li>
              <li>NHS Digital to validate EU Settlement Scheme status</li>
            </ul>

            <p>For more information about how we use your information please read our privacy notice.</p>

          </div>
        </details>

      <a href="where-do-you-live" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
