<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-nhs-uk.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<style>
  .app-global-alert {
    background-color: #ffeb3b;
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .app-global-alert a:hover {
    background-color: #005eb8;
    box-shadow: 0 0 0 4px #005eb8;
    color: #fff;
}
</style>

<!-- Coronavirus alert -->
<div class="app-global-alert">
   <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
         <div class="nhsuk-grid-column-full">
            <div class="app-global-alert__content">
               <div class="app-global-alert__message">
                  <h2 class="nhsuk-heading-m" style="margin: 0;">Coronavirus (COVID-19)</h2>
                  <p style="margin: 8px 0 0 0; font-size: 19px;">
                    <a href="#" style="">Get the latest advice about COVID-19</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Breadcrumb -->
  {{ breadcrumb({
  items: [
    {
      href: "#",
      text: "Home"
    },
    {
      href: "#",
      text: "Services"
    }
  ],
  href: "#",
  text: "Healtchcare abroad"
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Apply for healthcare cover abroad </h1>
      <p class="nhsuk-lede-text">
        There are two types of cover available, use this service to apply for either a:
      </p>

      <ul>
        <li>UK Global Health Insurance Card (GHIC)</li>
        <li>UK European Health Insurance Card (EHIC)</li>
      </ul>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- <p>
        For more styles, code snippets and guidance on components visit the
        <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>.
      </p> -->

      <h2>Who can apply for a UK GHIC</h2>

      <!-- <h3>Level heading three</h3> -->

      <p>You can apply for a UK GHIC if you:</p>

      <ul>
        <li>live in the UK</li>
        <li>normally live in the UK but are studying in the EUr</li>
        <li>live in the EU and have been issued with a UK S1 or A1 document</li>
        <li>an eligible family member or dependant of one of the above</li>
      </ul>



















      <!-- {{ warningCallout({
        "heading": "School, nursery or work",
        "HTML": "<p>Stay away from school, nursery or work until all the spots have crusted over. This is usually 5 days after the spots first appeared.</p>"
      }) }} -->

      {{ reviewDate({
        "lastReview": "6 May 2021",
        "nextReview": "6 May 2024"
      }) }}

    </div>

    <div class="nhsuk-grid-column-one-third">
      <div style="border-top:5px solid #005eb8; padding-top:15px;"></div>
      <h3>Healthcare abroad</h3>
      <ul style="list-style-type:none; padding-left: 0;">
         <li><a href="">Going abroad for treatment</a></li>
         <li><a href="">Moving abroad</a></li>
         <li><a href="">Travelling and living abroad</a></li>
      </ul>
   </div>

  </div>
{% endblock %}
