{% extends "layout.html" %}

{% block pageTitle %}
  What is your home address?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <h1 class="nhsuk-heading-l">What is your home address?</h1>

  <form action="address-list-handler" method="post">

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="postcode">
            Postcode
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="postcode" name="postcode" type="text" autocomplete="postal-code">
    </div>
    <div class="nhsuk-form-group">
      <button class="nhsuk-button" type="submit">
          Find address
      </button>
    </div>
    <div class="nhsuk-form-group">
      <p>
        <a href="address-manual" class="nhsuk-link">Enter address manually</a>
      </p> 
    </div>

  </form>
  



  {{ backLink({
    "href": "full-name",
    "text": "Change my previous answer"
  }) }}


{% endblock %}