{% extends 'layout.html' %}

{% block pageTitle %}
  You aren't eligible for an EHIC
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        You cannot add your partner to your EHIC application
      </h1>
      <p class="nhsuk-lede-text">
        Your partner must have started living in the UK before 1 Janaury 2021 to be eligible for an EHIC. 
        <!-- You can continue your application  -->
      </p>

      <!-- <h3>Check if you're eligible for settled status</h3>
      <p>If you’re an EU, EEA or Swiss citizen, you and your family can apply to the <a href="https://www.gov.uk/settled-status-eu-citizens-families">EU Settlement Scheme</a> to continue living in the UK after 30 June 2021. If your application is successful, you’ll get either settled or pre-settled status.</p> -->

      <form action="../add-child-1" method="post">

      {{ button({
          "text": "Continue"
        }) }}

      </form>


      {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }}

    </div>  

  </div>
{% endblock %}
