{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="../add-child-1" method="post">

        <h1>Check your answers</h1>

        <h2>Your spouse or civil partner's details</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Full Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-spouse-first-name'] }} {{ data['app-settled-spouse-last-name'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> spouse's name</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Home address
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-spouse-address-line-1'] }}<br>
              {{ data['app-settled-spouse-address-line-2'] }}<br>
              {{ data['app-settled-spouse-address-city'] }}<br>
              {{ data['app-settled-spouse-address-county'] }}<br>
              {{ data['app-settled-spouse-address-postcode'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> spouse's home address</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of Birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-spouse-dob-day'] }}/{{ data['app-settled-spouse-dob-month'] }}/{{ data['app-settled-spouse-dob-year'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> spouse's date of birth</span>
              </a>

            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Nationality
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['app-settled-spouse-nationality'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> spouse's nationality</span>
              </a>

            </dd>

          </div>
        </dl>



        <!-- <h2>Now send your application</h2>
        <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p> -->

        {{ button({
          "text": "Continue"
        }) }}


      </form>

     <!-- {{ backLink({
        "href": "add-another-yn",
        "text": "Change my previous answer"
      }) }} -->

    </div>
  </div>
{% endblock %}
