{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for travelling abroad
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for traveling within the EU</h1>

      <!-- <p class="nhsuk-lede-text">Apply now for a new UK European Health Insurance Card (EHIC).</p> -->
        
        <p>Use this service to check your eligibility and apply for either a:
                        
            <details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
UK Global Health Insurance Card (GHIC)</span>
  </summary>
  <div class="nhsuk-details__text">
    <p>This covers:</p>
    <ul>
      <li>state-provided healthcare cover for treatment that becomes necessary whilst temporarily staying in an EU country </li>
      <li>you if you are a student studying outside of the UK, a UK GHIC will cover you for both your country of study if this is in the EU, as well as any other EU country. You will not be able to use your card for treatment in Norway, Iceland, Liechtenstein and Switzerland</li>
    </ul>
  </div>
</details>
        
         <details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
European Health Insurance Card (EHIC)</span>
  </summary>
  <div class="nhsuk-details__text">
    <p>This covers:</p>
    <ul>
      <li>state-provided healthcare cover for treatment that becomes necessary whilst temporarily staying in an EU country, Norway, Iceland, Liechtenstein, and Switzerland</li>
      <li>you if you are a student studying outside of the UK, a UK EHIC will only cover you for state-provided healthcare cover within the EU and your country of study. You will not be able to use your card for treatment in Norway, Iceland, Liechtenstein and Switzerland except where you are studying in one of these countries /li>
    </ul>
  </div>
</details>
      
        <h3>When to apply</h3>
        
      <p>If you have a UK European Health Insurance Card (EHIC) it will be valid until the expiry date on the card. Once it expires, you’ll need to apply for a UK GHIC to replace it. </p>
          
                 <h3>Who can apply</h3>

          <p>During your application you will answer a series of questions about yourself and any spouse, civil partner, durable partner, and children that you add to your application. Based on the information you give us you will be provided with either an UK EHIC or UK GHIC. </p>
    
        
  <h3>Travel insurance and your UK EHIC or UK GHIC </h3>
            <p>Your EHIC or GHIC card is not a substitute for travel insurance. It may not cover all health costs and never covers repatriation costs. Make sure you have travel insurance as well as an UK EHIC or UK GHIC. </p>
        
       
    
    
        
         <a href="where-do-you-live" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Check eligibility and apply
      </a>
        

     
    </div>

  </div>
{% endblock %}
