{% extends 'layout.html' %}
{% block pageTitle %}

   Get healthcare cover for travelling abroad

{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<style type="text/css">

   p.current {
      float: right; 
      color: black; 
      padding: 10px 0;
      /*font-weight: bold;*/
   }

   .nhsuk-tag--green {
    background-color: #cce5d8;
    border: 1px solid #004c23;
    color: #004c23;
    margin-left: 10px;
}

   .nhsuk-tag--grey {
    background-color: #dbe0e3;
    border: 1px solid #354550;
    color: #354550;
    margin-left: 10px;
}
   
</style>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-full">
      <h1>
         Overseas Healthcare Services
         <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Apply for an EHIC</span> -->
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Get healthcare cover for travelling abroad</span>
      </h1>
      <h3>Beta</h3>
      <p>October 2020 - June 2021</p>
      <p>GDS Beta assessment - 15 June 2021
         <strong class="nhsuk-tag nhsuk-tag--grey">
           Awaiting result
         </strong>
      </p>
      <!-- <p class="nhsuk-lede-text">
         Enable citizens to check if the UK will pay for their healthcare needs while they’re visiting an EU/EEA country or Switzerland and if eligible, provide them with proof that they are covered.
      </p> -->

      <hr>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprint 28)
               </span>
               <!-- <p class="current">CURRENT SPRINT</p> -->
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 3 June 2021</p>
               <h3>User journeys</h3>
               <ul>
                  <li>UK residents (GHIC) (with option to add partner and children)</li>
                  <li>EU nationals living in the UK or EU</li>
                  <li>Dual nationals living in the UK or EU</li>
                  <li>EU Students (living in UK or EU when applying)</li>
                  <li>UK Students (living in UK or EU when applying)</li>
                  <li>S1 holders (pensioners, exportable benefits and posted workers)</li>
               </ul>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint28/apply/start"
               }) }}

               <!-- <hr>
               <a href="/sprint28/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprint 27)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 20 May 2021</p>
               <h3>User journeys</h3>
               <ul>
                  <li>UK residents (GHIC) (with option to add partner and children)</li>
                  <li>EU nationals living in the UK or EU</li>
                  <li>Dual nationals living in the UK or EU</li>
                  <li>EU Students (living in UK or EU when applying)</li>
                  <li>UK Students (living in UK or EU when applying)</li>
                  <li>S1 holders (pensioners, exportable benefits and posted workers)</li>
               </ul>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint27/apply/start"
               }) }}

               <!-- <hr>
               <a href="/sprint27/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprint 26)
               </span>
               <!-- <p class="current">CURRENT SPRINT</p> -->
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 06 May 2021</p>
               <h3>User journeys</h3>
               <ul>
                  <li>UK residents (GHIC) (with option to add partner and children)</li>
                  <li>EU nationals living in the UK or EU</li>
                  <li>Dual nationals living in the UK or EU</li>
                  <li>EU Students (living in UK or EU when applying)</li>
                  <li>UK Students (living in UK or EU when applying)</li>
                  <li>S1 holders (pensioners, exportable benefits and posted workers)</li>
               </ul>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint26/apply/start"
               }) }}

               <!-- <hr>
               <a href="/sprint26/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprints 23, 24, 25)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 22 April 2021</p>
               <h3>User journeys</h3>
               <ul>
                  <li>UK residents (GHIC) (with option to add partner and children)</li>
                  <li>EU nationals living in the UK or EU 
                  <!-- (with option to add dependants) -->
               </li>
                  <li>Dual nationals living in the UK or EU 
                  <!-- (with option to add dependants) -->
               </li>
                  <li>EU Students (living in UK or EU when applying)</li>
                  <li>UK Students (living in UK or EU when applying)</li>
                  <!-- <li>UK Students (living in EU when applying)</li> -->
                  <li>S1 holders (pensioners, exportable benefits and posted workers)</li>
                  <!-- <li>S1 Posted workers</li> -->
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint23-24/apply/start"
               }) }}

               <!-- <hr>
               <a href="/sprint23-24/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprint 22)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 11 March 2021</p>
               <h3>User journeys</h3>
               <ul>
                  <li>UK residents (GHIC) (with option to add partner and children)</li>
                  <li>EU nationals living in the UK or EU 
                  <!-- (with option to add dependants) -->
               </li>
                  <li>Dual nationals living in the UK or EU 
                  <!-- (with option to add dependants) -->
               </li>
                  <li>EU Students (living in UK or EU when applying)</li>
                  <li>UK Students (living in UK or EU when applying)</li>
                  <!-- <li>UK Students (living in EU when applying)</li> -->
                  <li>S1 holders (pensioners, exportable benefits and posted workers)</li>
                  <!-- <li>S1 Posted workers</li> -->
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint22/apply/start"
               }) }}

               <!-- <hr>
               <a href="/sprint22/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprint 21)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 25 February 2021</p>
               <h3>User journeys</h3>
               <ul>
                  <li>UK residents (GHIC) (with option to add dependants)</li>
                  <li>EU nationals living in the UK or EU 
                  <!-- (with option to add dependants) -->
               </li>
                  <li>Dual nationals living in the UK or EU 
                  <!-- (with option to add dependants) -->
               </li>
                  <li>EU Students (living in UK or EU when applying)</li>
                  <li>UK Students (living in UK or EU when applying)</li>
                  <!-- <li>UK Students (living in EU when applying)</li> -->
                  <li>S1 holders (pensioners, exportable benefits and posted workers)</li>
                  <!-- <li>S1 Posted workers</li> -->
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint21/apply/start"
               }) }}

               <!-- <hr>
               <a href="/sprint21/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprints 19, 20)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 28 January 2021</p>
               <h3>User journeys</h3>
               <ul>
                  <li>UK residents (GHIC)</li>
                  <li>EU nationals living in the UK or EU (with option to add dependants)</li>
                  <li>Dual nationals living in the UK or EU (with option to add dependants)</li>
                  <li>EU Students (living in UK or EU when applying)</li>
                  <li>UK Students (living in UK or EU when applying)</li>
                  <!-- <li>UK Students (living in EU when applying)</li> -->
                  <li>S1 holders (pensioners, exportable benefits and posted workers)</li>
                  <!-- <li>S1 Posted workers</li> -->
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint19-20/apply/start"
               }) }}

               <!-- <hr>
               <a href="/sprint19-20/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <hr>

      <!-- <h3>May - November 2020</h3> -->

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprint 15)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 19 November 2020</p>
               <h3>User journeys</h3>
               <ul>
                  <li>EU nationals living in the UK or EU (with option to add dependants)</li>
                  <li>Dual nationals living in the UK or EU (with option to add dependants)</li>
                  <li>EU Students living in UK or EU when applying</li>
                  <li>UK Students living in UK or EU when applying</li>
                  <!-- <li>UK Students (living in EU when applying)</li> -->
                  <li>S1 holders (pensioners, exportable benefits and posted workers)</li>
                  <!-- <li>S1 Posted workers</li> -->
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint15/prereg/start"
               }) }}

               <!-- <hr>

               <h3>Application journeys</h3>
               <ul>
                  <li>EU nationals living in the UK (add children to the application)</li>
                  <li>UK nationals living in the UK (add children to the application)</li>
                  <li>UK S1 Pensioners and Exportable benefits (add partner to application)</li>
                  <li>UK Students (living in EU when applying)</li>
                  <li>UK Posted workers</li>
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/current/postjan/start"
               }) }} -->
               <hr>
               <a href="/sprint15/breakdown">Page by page breakdown</a>
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Beta (Sprint 14)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 05 November 2020</p>
               <h3>Pre-registration journeys</h3>
               <ul>
                  <li>EU nationals living in the UK (individual and dependants)</li>
                  <li>Dual nationals living in the UK (individual and dependants)</li>
                  <li>EU Students (living in UK when applying)</li>
                  <li>UK Students (living in UK when applying)</li>
                  <li>UK Students (living in EU when applying)</li>
                  <li>S1 Pensioners and Exportable benefits</li>
                  <li>Posted workers</li>
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint14/prereg/start"
               }) }}

               <hr>

               <!-- <h3>Application journeys</h3>
               <ul>
                  <li>EU nationals living in the UK (add children to the application)</li>
                  <li>UK nationals living in the UK (add children to the application)</li>
                  <li>UK S1 Pensioners and Exportable benefits (add partner to application)</li>
                  <li>UK Students (living in EU when applying)</li>
                  <li>UK Posted workers</li>
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint14/postjan/start"
               }) }}
               <hr> -->
               <a href="/sprint14/breakdown">Page by page breakdown</a>
            </div>
         </details>
      </div>



   </div>
</div>
{% endblock %}