{% extends 'layout.html' %}
{% block pageTitle %}

   Get healthcare cover for travelling abroad

{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<style type="text/css">

   p.current {
      float: right; 
      color: black; 
      padding: 10px 0;
      /*font-weight: bold;*/
   }
   
</style>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-full">
      <h1>
         Overseas Healthcare Services
         <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Apply for an EHIC</span> -->
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Get healthcare cover for travelling abroad</span>
      </h1>
      <h3>Experimental designs</h3>
      <!-- <p class="nhsuk-lede-text">
         Enable citizens to check if the UK will pay for their healthcare needs while they’re visiting an EU/EEA country or Switzerland and if eligible, provide them with proof that they are covered.
      </p> -->

      <hr>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               NHS.UK landing page
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <h3>NHS.UK landing page</h3>
               <ul>
                  <li><a href="/nhs-landing/landing-v1">Version 1</a></li>
                  <li><a href="/nhs-landing/landing-v2">Version 2</a></li>
               </ul>
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Tasklist
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <h3>Tasklist application format</h3>
               <ul>
                  <li><a href="/tasklist/prereg/tasklist-all">EU nationals living in the UK </a>
                  </li>
                  <li><a href="/tasklist/prereg/application/tasklist-uk-0">UK nationals</a></li>
                  <li><a href="/tasklist/prereg/tasklist-s1">S1 holders</a> </li>
                  <li><a href="/tasklist/prereg/tasklist-pw">Posted workers</a></li>
                  <li><a href="/tasklist/prereg/tasklist-student">Students</a></li>
               </ul>
               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/tasklist/prereg/start"
               }) }}
            </div>
         </details>
      </div>

   </div>
</div>
{% endblock %}