{% extends 'layout.html' %}
{% block pageTitle %}

   Get healthcare cover for travelling abroad

{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<style type="text/css">

   p.current {
      float: right; 
      color: black; 
      padding: 10px 0;
   }

   .nhsuk-inset-text{ 
      border-color: #d5281b;
      color: #d5281b;
      font-weight: bold;
   }
   
</style>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-full">
      <h1>
         Overseas Healthcare Services
         <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Apply for an EHIC</span> -->
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Get healthcare cover for travelling abroad</span>
      </h1>
      <p class="nhsuk-lede-text">
         Enable citizens to check if the UK will pay for their healthcare needs while they’re visiting an EU/EEA country or Switzerland and if eligible, provide them with proof that they are covered.
      </p>

       <!-- {{ details({
        "text": "Prototype fixes",
        "HTML": "
          <ul>
           <li>File upload - Users can now input a non-UK address and it will appear in 'Check your answers'</li>
           <li>File upload - If a user selects 'EU settled status share code', this will now appear in 'Check your answers' instead of a list of documents</li>
           <li>File upload - Only questions that a user sees with be shown in 'Check your answers'
          </ul>
        "
      }) }} -->

      <hr>

      <h3>Sprint 51</h3>

      <p>Testing the first iteration of the Provisional Replacement Certificate (PRC) online service.</p>

      {{ actionLink({
       "text": "Apply for a PRC",
       "href": "/current/start"
       }) }}

      <hr>

      <!-- <h5>Specific confirmation screens</h5>
      <ul>
         <li>
            <a href="current/apply/application/new-end-pages/solo/app-submitted-uk-ukio">
               Lives in UK - Non-EU/EEA national
            </a>
         </li>
         <li>
            <a href="current/apply/application/new-end-pages/solo/app-submitted-uk-eu">
               Lives in UK - EU/EEA national
            </a>
         </li>
         <li>
            <a href="current/apply/application/new-end-pages/solo/app-submitted-s1">
               S1 holder
            </a>
         </li>
         <li>
            <a href="current/apply/application/new-end-pages/solo/app-submitted-student">
               Student
            </a>
         </li>
      </ul> -->
      
   </div>
</div>
{% endblock %}