{% extends 'layout.html' %}
{% block pageTitle %}

   Get healthcare cover for travelling abroad

{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<style type="text/css">

   p.current {
      float: right; 
      color: black; 
      padding: 10px 0;
      /*font-weight: bold;*/
   }
   
</style>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-full">
      <h1>
         Overseas Healthcare Services
         <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Apply for an EHIC</span> -->
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Get healthcare cover for travelling abroad</span>
      </h1>
      <p class="nhsuk-lede-text">
         Enable citizens to check if the UK will pay for their healthcare needs while they’re visiting an EU/EEA country or Switzerland and if eligible, provide them with proof that they are covered.
      </p>

      <hr>

      <h3>User journeys</h3>

      {{ actionLink({
        "text": "Beta phase",
        "href": "beta"
      }) }}


      {{ actionLink({
        "text": "Alpha phase",
        "href": "alpha"
      }) }}

      <hr>

      <h3>Experimental designs</h3>

      <ul>
         <li>NHS.UK landing page</li>
         <li>Tasklist</li>
      </ul>

      {{ actionLink({
        "text": "Experimental designs",
        "href": "experimental"
      }) }}


   </div>
</div>
{% endblock %}