{% extends 'layout.html' %}

{% block pageTitle %}
  Get healthcare cover for visiting the EU, EEA or Switzerland (EHIC)
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get healthcare cover for visiting the EU, EEA or Switzerland (EHIC)</h1>

      <!-- <h2>Thank you for taking part in the pre-registration process for a new European Health Insurance Card (EHIC).</h2> -->
      <p class="nhsuk-lede-text">Thank you for taking part in the pre-registration process for a new European Health Insurance Card (EHIC).</p>

      <!-- <p class="nhsuk-lede-text">
        An EHIC gives you the right to access state-provided healthcare on temporary stays in countries in the European Union (EU), European Economic Area (EEA) and Switzerland.
      </p> -->

<!--       <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Countries in the EU and EEA 
          </span>
        </summary>

        <div class="nhsuk-details__text">
          <h5>EU countries</h5>
          <p>The EU countries are:</p>
          <p>
            Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain and Sweden.
          </p>
          <br>
          <h5>The European Economic Area (EEA)</h5>
          <p>
            The EEA includes EU countries and also Iceland, Liechtenstein and Norway. It allows them to be part of the EU’s single market.
          </p>
          <p>
            Switzerland is not an EU or EEA member but is part of the single market. This means Swiss nationals have the same rights to live and work in the UK as other EEA nationals.
          </p>
        </div>
      </details> -->

      <h3>EHIC from 1 January 2021</h3>

      <p>The UK left the European Union (EU) on 31 January 2020 and is now in a transition period until the end of 31 December 2020.</p>

      <p>From 1 January 2021, anyone holding a registered UK-issued S1 certificate who lives in another EEA country or Switzerland will continue to access healthcare in the same way they currently do. They will also be entitled to an EHIC.</p>
 
      <p>The EHIC will cover you for all state-funded, medically necessary and needs-arising healthcare when visiting another EEA country or Switzerland. (Except the country you are residing in or the UK).</p>



      <!-- <p>The UK left the European Union (EU) on 31 January 2020 and is now in a transition period until the end of 31 December 2020.</p>
      <p>From 1 January 2021, people living in another EEA country or Switzerland by the end of the transition period who hold a registered, UK-issued S1 certificate will continue to access healthcare in the same way they currently do. As now, those who meet the aforementioned criteria will also be entitled to an EHIC.</p>
      <p>The EHIC will cover you for all medically necessary, state-funded, needs-arising healthcare when visiting another EEA country or Switzerland (other than the country you are residing in and the UK).</p> -->

      <h3>The pre-registration process</h3>

      <p>By pre-registering, you will be able to apply for an EHIC as an S1 holder before 1 January 2021. This will ensure you have your EHIC ready for the end of the transition period.</p>

      <p>During the pre-registration process, we will ask you a series of questions. Enter your relevant details into the Overseas Healthcare Services online portal.</p>

      <p>We will tell you during the pre-registration process if you do not meet the eligibility criteria for an EHIC.</p>

      <p>If your application is successful, we will send you confirmation to the email address you give us in your application. This email will contain further information, including when you will receive your new EHIC.</p>

      <!-- <p>During the S1 pre-registration EHIC process, you will be asked to respond to a series of questions and to enter your relevant details into the Overseas Healthcare Services online portal. By taking part, you will be able to apply for an EHIC as an S1 holder prior to 1 January 2021. This will ensure you have your EHIC ready for the end of the transition period. </p>
      <p>If your application is not successful, and you do not meet the eligibility criteria to entitle you to an EHIC as an S1 holder, you will be notified during the pre-registration process. Should your application for an EHIC be successful, you will receive email confirmation at the address you supply in your application.</p>
      <p>Please refer to your confirmation email for further information, including when you will receive your new EHIC.</p> -->
      <p>For information on how we use your data, please refer to our <a href="">privacy notice</a>.</p>


      <!-- <br>

      <h5>You can get an EHIC if:</h5>

      <ul>
        <li>you are a UK citizen</li>
        <li>you are an EU, EEA or Swiss citizen with either settled or pre-settled status in the UK or you have indefinite leave to remain in the UK</li>
        <li>you are a posted worker living and working in the EU, EEA or Switzerland</li>
        <li>you are a UK citizen studying in the EU, EEA or Switzerland</li>
        <li>you receive a UK State Pension or other exportable benefit and are living in the EU, EEA or Switzerland</li>
      </ul> -->

      <a href="nationality" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
