{% extends "layout.html" %}
{% block pageTitle %}
What is your NHS number?
{% endblock %}
{% block beforeContent %}
<!-- Phase banner -->
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Prototype
         </strong>
         <span class="app-phase-banner__text">
         This is a prototype - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-three-quarters">
      <!-- <form action="address-lookup" method="post"> -->
      <form action="gender" method="post">
         {% call fieldset({
           legend: {
             text: "What is your NHS number?",
             classes: "nhsuk-fieldset__legend--l",
             isPageHeading: true
          }
         }) %}
         <!-- <p>Your NHS number is a 10 digit number. For example, <span class=\"nhsuk-u-nowrap\">485 777 3456</span>.</p>
            <p>You can find it on any letter the NHS has sent you, on a prescription, or by logging in to a GP practice online service.</p> -->
         <p> 
            Your NHS number is a 10 digit number that is unique to you and will help us match your details to your health records without us having to ask for further information.
         </p>
         <p>
            Your NHS number can also be referred to as your Community Health Index (CHI) number or Health and Care number.
         </p>

         {{ input({
             hint: {
             html: "For example, 485 777 3456 (optional)"
           },
             "id": "input-width-10",
             "name": "test-width-10",
             "classes": "nhsuk-input--width-10"
           }) }}

           {% endcall %}
           <!-- <p><a href="address-manual">I don't have a National Insurance number</a></p> -->

           {{ button({
           "text": "Continue"
         }) }}

         <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <h4>
            If you don't know your NHS number or if your number is a combination of letters and numbers</h2>
            <p>If you don't know your NHS number, use the Find your NHS number service below or contact your GP to find out what your NHS number is.</p>
            <p>If your number is a combination of letters and numbers, it may be that you have an old style number that is no longer used. Use the Find your NHS number service below or contact your GP to find out what your new NHS number is. Not having a new NHS Number will not affect your care.</p>
            <p>
               <a href="https://www.nhs.uk/nhs-services/online-services/find-nhs-number/" target="_blank">Find your NHS number</a> (link opens in a new tab)
            </p>
         </div>
      </form>

      {{ backLink({
      "href": "",
      "text": "Change my previous answer"
      }) }}

   </div>
</div>
{% endblock %}